<%= render 'layouts/header' %>
<div class="pixfort_ecourse_8" id="section_ecourse_2">
    <div class="page_style pix_builder_bg" data-selector=".pix_builder_bg" style="outline-offset: -3px;">
        <div class="container">
            <div class="sixteen columns">
                <div class="nine columns  alpha">
                    <div class="left_zone">
                        <div class="video_style">
                            <iframe src="https://www.youtube.com/embed/p5aMjwFeF1s" width="450" height="250" frameborder="0" style="" allowfullscreen></iframe>
                        </div>
                        <h3 class="title_st editContent" data-selector="h3" style="">What is HALALFOODHUNT.COM?</h3>
                    </div>
                </div>
                <div class="seven columns  omega">
                    <div class="text_input">
                        <div class="headtext_style"><span class="editContent" data-selector="Footers" style=""><span class="pix_text" data-selector=".pix_text, .pix_edit" style="" rel="">Create a merchant account</span></span></div>
                        <div class="segment pix_builder_bg" data-selector=".pix_builder_bg" style="background-image: none; background-color: rgb(231, 76, 60); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(68, 68, 68); background-size: auto; background-attachment: scroll; background-repeat: repeat;" src="images/3_app/windows.png"> </div>
                        <small class="editContent" data-selector="p" style="color:white;">Please fill in your information to create an account with us.</small>
                        <div class="contact_st">
                            <%= bootstrap_form_for(@merchant, as: @merchant, url: merchant_registration_path(@merchant), label_errors: true, inline_errors: true) do |f| %>
                          <div class="field label-form" style="color:white;">
                              <%= f.text_field :contact_person_name, autofocus: true, label: "Your Name" %>
                          </div>
                          <div class="field label-form" style="color:white;">
                              <%= f.email_field :email, label: "Your Email" %>
                          </div>
                          <div class="field label-form" style="color:white;">
                              <%= f.password_field :password, autocomplete: "off", placeholder: "Must be at least 6 characters long" %>
                          </div>
                          <div class="field label-form" style="color:white;">
                              <%= f.phone_field :mobile_number, label: "Your Mobile Number" %>
                          </div>
                          <div class="actions">
                              <%= f.submit "Next", :class => 'submit_btn orange_bg pix_text', :style => "background:#e73c25; color:#fff; border:0; margin-bottom: 0;" %>
                          </div>
                          <% end %>
                      </div>
                      <p class="note_st editContent" data-selector="p">*By creating an account, you agree to our terms.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="pix_builder_bg padding_bottom_60" id="section_pixfort_medical_3" style="background-image: none; background-color: rgba(0, 0, 0, 0); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(68, 68, 68); background-size: auto; background-attachment: scroll; background-repeat: repeat; outline-offset: -3px;" data-selector=".pix_builder_bg">
    <div class="container normal_padding" style="padding:20px 0 20px 0">
        <div class="three columns alpha">
            <div class="big_circle ">
                <i class="big_circle_content pi pixicon-book-open" style="color: rgb(119, 119, 119); font-size: 70px; background-color: rgba(0, 0, 0, 0);" id="ui-id-4" data-selector=".pi"></i>
            </div>
        </div>
        <div class="five columns">
            <div class="content_div">
                <h4 class="editContent" data-selector="h4" style=""><br><br><strong>Display the best of your menu on your listing page</strong></h4>
                
            </div>
        </div>
        <div class="three columns">
            <div class="big_circle">
                <i class="big_circle_content pi pixicon-profile-male" style="color: rgb(119, 119, 119); font-size: 70px; background-color: rgba(0, 0, 0, 0);" id="ui-id-5" data-selector=".pi"></i>
            </div>
        </div>
        <div class="five columns omega">
            <div class="content_div">
                <h4 class="editContent" data-selector="h4" style=""><br><br><strong>Partner with us for our marketing activities</strong></h4>
                
            </div>
        </div>
    </div>

    <div class="container normal_padding" style="padding:20px 0 20px 0">
        <div class="three columns alpha">
            <div class="big_circle">
                <i class="big_circle_content pi pixicon-map2" style="color: rgb(119, 119, 119); font-size: 70px; background-color: rgba(0, 0, 0, 0);" id="ui-id-42" src="images/7_shop_products/icon-1.png" data-selector=".pi"></i>
            </div>
        </div>
        <div class="five columns">
            <div class="content_div">
                <h4 class="editContent" data-selector="h4" style=""><br><br><strong>Be found when someone searches for you</strong></h4>
                
            </div>
        </div>
        <div class="three columns">
            <div class="big_circle">
                <i class="big_circle_content pi pixicon-browser" style="color: rgb(119, 119, 119); font-size: 70px; background-color: rgba(0, 0, 0, 0);" id="ui-id-6" src="images/7_shop_products/icon-1.png" data-selector=".pi"></i>
            </div>
        </div>
        <div class="five columns omega">
            <div class="content_div">
                <h4 class="editContent" data-selector="h4" style=""><br><strong>Chooosie.com<br>
                    Your one stop online media solution</strong></h4>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="pixfort_content_1 intro_1 pix_contents dark pix_builder_bg" id="section_intro_title_dark" style="background-image: none; background-color: rgb(243, 243, 243); padding-top: 40px; padding-bottom: 40px; box-shadow: none; border-color: rgb(255, 255, 255); background-size: auto; background-attachment: scroll; background-repeat: repeat; outline-offset: -3px;">
      <div class="container ">       
       <div class="sixteen columns">
          <div class="intro_div">
             <h2 class="editContent" style="color: rgb(225, 55, 55); font-size: 35px; background-color: rgba(0, 0, 0, 0);"><strong>How It Works</strong></h2>
             
         </div>
     </div>
 </div>
</div>
<div class="pixfort_shop_7" id="section_shop_4">

  <div class="new_story pix_builder_bg" style="outline-offset: -3px;">
     <div class="container">
        <div class="sixteen columns">
           <div class="eight columns alpha">
              <div class="zone_left">
                 <div class="icon-2_st"> <img src="/images/media/numbers-01.png" class="icon_st" alt=""></div>
                 <div class="text_st">
                    <p class="title_st editContent">Create a FREE Account</p>
                    <p class="subject_st editContent">Get started by creating a FREE merchant account</p>
                </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="zone_left">
             <div class="icon-2_st"> <img src="/images/media/numbers-02.png" class="icon_st" alt=""></div>
             <div class="text_st">
                <p class="title_st editContent">Choose a Plan</p>
                <p class="subject_st editContent">Choose a plan that fits the number of listings you want to add</p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="zone_left">
         <div class="icon-2_st"> <img src="/images/media/numbers-03.png" class="icon_st" alt=""></div>
         <div class="text_st">
            <p class="title_st editContent">Add your listings</p>
            <p class="subject_st editContent">Choose a category that fits your listings and add your details</p>
        </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="zone_left">
     <div class="icon-2_st"> <img src="/images/media/numbers-04.png" class="icon_st" alt=""></div>
     <div class="text_st">
        <p class="title_st editContent">Offer to reward our FRIENDS</p>
        <p class="subject_st editContent">The more attractive the reward that you offer, the more likely it will appeal to our FRIENDS!</p>
    </div>
</div>
</div>

<div class="eight columns omega">
  <div class="pict_st">
     <img src="http://www.kieronmarr.co.uk/wp-content/uploads/3-device-mockup-aarrowdrivingschool-home.png" alt="">
 </div>
</div>
</div>
</div>
</div>
<div class="pixfort_normal_1 creative_features" id="section_normal_3">  
    <div class="adv_st pix_builder_bg" style="outline-offset: -3px;">
        <div class="container">
            <div class="sixteen columns">
                <div class="one-third column onethird_style  alpha">
                    <span class="slow_fade creative_circle pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); padding-top: 20px; padding-bottom: 20px; box-shadow: none; border-color: rgb(204, 0, 0); border-width: 2px;" src="images/7_shop_products/icon-1.png">
                        <span class="pi creative_c_icon pixicon-food" id="ui-id-23" style="color: rgb(204, 0, 0); font-size: 42px; background-color: rgba(0, 0, 0, 0);" src="images/7_shop_products/icon-1.png"></span>
                    </span>
                    <div class="comment_style">
                        <span class="editContent" style=""><span class="c1_style2"><span class="pix_text" rel="">20k/Month</span></span></span><br>
                        <span class="editContent" style=""><span class="c2_style2"><span class="pix_text" rel="">Visits by foodies</span></span></span>
                    </div>
                </div>
                <div class="one-third column onethird_style alpha">
                    <span class="slow_fade 2 creative_circle pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); padding-top: 20px; padding-bottom: 20px; box-shadow: none; border-color: rgb(204, 0, 0); border-width: 2px;" src="images/7_shop_products/icon-1.png">
                        <span class="pi creative_c_icon pixicon-instagram" id="ui-id-23" style="color: rgb(204, 0, 0); font-size: 42px; background-color: rgba(0, 0, 0, 0);" src="images/7_shop_products/icon-1.png"></span>
                    </span>
                    <div class="comment_style">
                        <span class="editContent" style=""><span class="c1_style2"><span class="pix_text" rel="">22.3k <br>
                        </span></span></span>
                        <span class="editContent" style=""><span class="c2_style2"><span class="pix_text" rel="">Instagram followers</span></span></span>
                    </div>
                </div>
                <div class="one-third column onethird_style alpha">
                    <span class="slow_fade 2 creative_circle pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); padding-top: 20px; padding-bottom: 20px; box-shadow: none; border-color: rgb(204, 0, 0); border-width: 2px;" src="images/7_shop_products/icon-1.png">
                        <span class="pi creative_c_icon pixicon-statistics" id="ui-id-23" style="color: rgb(204, 0, 0); font-size: 42px; background-color: rgba(0, 0, 0, 0);" src="images/7_shop_products/icon-1.png"></span>
                    </span>
                    <div class="comment_style">
                        <span class="editContent" style=""><span class="c1_style2"><span class="pix_text" rel="">360k/Month</span></span></span><br>
                        <span class="editContent" style=""><span class="c2_style2"><span class="pix_text" rel="">Reach monthly on FB &amp; Instagram</span></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pixfort_corporate_2" id="section_corporate_6">
    <div class="amazing_style pix_builder_bg" style="background-image: none; background-color: rgb(255, 255, 255); padding-top: 0px; padding-bottom: 60px; box-shadow: none; border-color: rgb(68, 68, 68); background-size: cover; background-attachment: scroll; background-repeat: repeat; outline-offset: -3px;">
        <div class="container">
            <div class="sixteen columns">
                <div class="gstyle">
                    <div class="t1_style">
                        <span class="editContent" style=""><span class="pix_text" rel="">Select the plan that suits you.</span></span>
                    </div>
                    <div class="t2_style">
                        <span class="editContent" style=""><span class="pix_text" rel="">Upgrade, downgrade or cancel anytime.</span></span>
                    </div>
                    <div class="t3_style">
                        <span class="editContent" style=""></span>
                    </div>
                </div>
                <div class="four columns onethird_style">
                    <div class="th1_style pix_builder_bg">
                        <div class="a_bloc1_style pix_builder_bg">
                            <p class="a1_style editContent">Basic</p>
                            <p class="a2_style editContent">FREE</p>
                        </div>
                        <br>
                        <span class="editContent" style="">
                            <p class="b3_style">Unverified Listing</p>
                            <p class="b3_style">Unlimited Categories</p>
                            <p class="b3_style">Unlimited Highlights</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Delivery Listing</p>
                            <p class="b3_style">FRIENDS Rewards Programme</p>
                        </span>
                        <div class="a_bloc3_style pix_builder_bg">
                            <div class="subscribe_st">
                                <span class="subscribe_a editContent" style=""> <a href="/koudoku/subscriptions/new?plan=14" class="slow_fade pix_text">Subscribe</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four columns onethird_style ">
                    <div class="th2_style pix_builder_bg" style="background-image: none; background-color: rgb(224, 102, 102); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(224, 102, 102) rgb(224, 102, 102) rgb(224, 102, 102) rgb(48, 126, 220); background-size: auto; background-attachment: scroll; background-repeat: repeat;">
                        <div class="b_bloc1_style pix_builder_bg" style="background-image: none; background-color: rgb(225, 55, 55); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(224, 102, 102) rgb(224, 102, 102) rgb(224, 102, 102); background-size: auto; background-attachment: scroll; background-repeat: repeat;">
                            <p class="b1_style editContent" style="color: rgb(255, 255, 255); font-size: 36px; background-color: rgba(0, 0, 0, 0);">Basic Plus</p>
                            <p class="b2_style editContent" style="color: rgb(255, 255, 255); font-size: 18px; background-color: rgba(0, 0, 0, 0);">$150/Year</p>
                        </div>

                        <br>
                        <span class="editContent" style="color:white;">
                            <p class="b3_style">1 Verified Listing</p>
                            <p class="b3_style">Unlimited Categories</p>
                            <p class="b3_style">Unlimited Highlights</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Featured Questions</p>
                            <p class="b3_style">Delivery Listing</p>
                            <p class="b3_style">FRIENDS Rewards Programme</p>
                            <p class="b3_style">Meta Word Search</p>
                            <p class="b3_style">User Review/Feedback</p>
                            <p class="b3_style">Message Box</p>
                        </span>

                        <div class="b_bloc3_style" pix_builder_bg="" style="background-image: none; background-color: rgb(225, 55, 55); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(224, 102, 102) rgb(224, 102, 102) rgb(224, 102, 102) rgb(224, 102, 102); background-size: auto; background-attachment: scroll; background-repeat: repeat;">
                            <div class="subscribe_st">

                                <span class="subscribe_b editContent" style=""> <a href="/koudoku/subscriptions/new?plan=15" class="slow_fade pix_text" style="color: rgb(255, 255, 255); font-size: 16px; background-color: rgb(224, 102, 102);">Subscribe</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four columns onethird_style  omega">
                    <div class="th1_style pix_builder_bg">
                        <div class="a_bloc1_style pix_builder_bg" style="background-image: none; background-color: rgb(227, 227, 227); padding-top: 0px; padding-bottom: 0px; box-shadow: none; border-color: rgb(68, 68, 68) rgb(68, 68, 68) rgb(204, 204, 204); background-size: auto; background-attachment: scroll; background-repeat: repeat;">
                            <p class="a1_style editContent">Pair</p>
                            <p class="a2_style editContent">$180/Year</p>
                        </div>
                        <br>
                        <span class="editContent" style="">
                            <p class="b3_style">2 Verified Listing</p>
                            <p class="b3_style">Unlimited Categories</p>
                            <p class="b3_style">Unlimited Highlights</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Featured Questions</p>
                            <p class="b3_style">Delivery Listing</p>
                            <p class="b3_style">FRIENDS Rewards Programme</p>
                            <p class="b3_style">Meta Word Search</p>
                            <p class="b3_style">User Review/Feedback</p>
                            <p class="b3_style">Message Box</p>
                        </span>
                        <div class="a_bloc3_style pix_builder_bg">
                            <div class="subscribe_st">
                                <span class="subscribe_a editContent">
                                    <a href="/koudoku/subscriptions/new?plan=16" class="slow_fade pix_text">Subscribe</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four columns onethird_style   omega">
                    <div class="th1_style pix_builder_bg">
                        <div class="a_bloc1_style pix_builder_bg">
                            <p class="a1_style editContent">Bundle</p>
                            <p class="a2_style editContent">$280/Year</p>
                        </div>
                        <br>
                        <span class="editContent" style="">
                            <p class="b3_style">3 Verified Listing</p>
                            <p class="b3_style">Unlimited Categories</p>
                            <p class="b3_style">Unlimited Highlights</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Unlimited Locations</p>
                            <p class="b3_style">Featured Questions</p>
                            <p class="b3_style">Delivery Listing</p>
                            <p class="b3_style">FRIENDS Rewards Programme</p>
                            <p class="b3_style">Meta Word Search</p>
                            <p class="b3_style">User Review/Feedback</p>
                            <p class="b3_style">Message Box</p>
                        </span>
                        <div class="a_bloc3_style pix_builder_bg">
                            <div class="subscribe_st">
                                <span class="subscribe_a editContent">
                                    <a href="/koudoku/subscriptions/new?plan=17" class="slow_fade pix_text">Subscribe</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ">
			<div class="eight columns alpha">
				<div class="content_div">
					<div class="margin_bottom">
						<img class="small_circle border_light" src="images/main/t3.png">
					</div>
                	<p class="editContent light_gray normal_text">Lorem ipsum dolor sit amet consectet adipiscing elit sed do eiusmoda tempo incididunt ut labore et dolore magnar aliqua Ut enim ad  voluptate velit esse.</p>                	
                	<h6 class="editContent bold_text dark_gray">Mark Smith</h6>
				</div>
			</div>
			<div class="eight columns omega">
				<div class="content_div">
					<div class="margin_bottom">
						<img class="small_circle border_light" src="images/main/t2.png">
					</div>
                	<p class="editContent light_gray normal_text">Lorem ipsum dolor sit amet consectet adipiscing elit sed do eiusmoda tempo incididunt ut labore et dolore magnar aliqua Ut enim ad  voluptate velit esse.</p>                	
                	<h6 class="editContent bold_text dark_gray">John Due</h6>
				</div>
            </div>
		</div>
	</div>
	<div class="pixfort_app_3" id="section_app_8">
		<div class="download_style pix_builder_bg" style="outline-offset: -3px;">
			<div class="container">
				<div class="sixteen columns">
					<h1 class="h_download editContent">Need Assistance?</h1>
					<p class="txt_download editContent">+65 9626 5757<br>
hello@halalfoodhunt.com</p>
            		<span class="contact_btn editContent" style="">
            			
            		</span>
            		<div>
						<a href="#"><span><img src="images/3_app/apple.png" class="log_st slow_fade" alt=""></span></a>
						<a href="#"><span></span></a>
						<a href="#"><span><img src="images/3_app/windows.png" class="log_st slow_fade" alt=""></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>
