<%= render 'layouts/merchant_header' %>
<div class="container-fluid sign-up">
  <div class="container container-table">
    <div class="row vertical-center-row">
       <div class="row bs-wizard" style="border-bottom:0;">
      <div class="col-xs-3 bs-wizard-step active">
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center"><h5 style="color:#22211d; font-weight:700;">CREATE AN ACCOUNT</h5></div>
      </div>

      <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
        <div class="text-center bs-wizard-stepnum"></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center"><h5 style="font-weight:700;">ABOUT YOUR BUSINESS</h5></div>
      </div>

      <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
        <div class="text-center bs-wizard-stepnum"></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center"><h5 style="font-weight:700;">SUBSCRIBE</h5></div>
      </div>

      <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
        <div class="text-center bs-wizard-stepnum"></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center"><h5 style="font-weight:700;">CREATE LISTING</h5></div>
      </div>
    </div>
      <div class="col-xs-12 col-md-12" style="padding-left:0px; padding-right:0px; box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22);">
      <div class="col-xs-12 col-sm-6 col-md-4 sign-up-left" style="padding-left:0px; padding-right:0px;">
        <span class="visible-md-block visible-lg-block" style="min-height:400px;">
        </span>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-8" style="background:rgba(255,255,255,0.6);">
          <h3><center>CREATE AN ACCOUNT</center></h3>
          <p><center>Please fill in your information to create an account with us, so we can know more about you. This information will not appear on your listing page.
          </center></p>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), label_errors: true, inline_errors: true) do |f| %>

            <div class="field label-form">
              <%= f.collection_select :region_id, Region.all, :id, :name, autofocus: true, layout: :inline %>
              <%= f.text_field :contact_person_name, autofocus: true, label: "Contact Person Name" %>
            </div>
            <div class="field label-form">
              <%= f.phone_field :mobile_number, label: "Mobile Number" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="field label-form">
              <%= f.email_field :email %>
            </div>
            <div class="field label-form">
              <%= f.password_field :password, autocomplete: "off", help: "Must be at least 6 characters long" %>
            </div>
            <div class="actions">
              <%= f.submit "Next", :class => 'btn btn-block btn-raised btn-danger' %>
            </div>
            <% end %>
            <p><center>By creating an account, you agree to our <a href="#">terms.</a></center></p>
            <p><center>Have an account? <%= render "devise/shared/links" %>.</center></p>
          </div>
      </div>
    </div>
  </div>
</div>