<%= render 'layouts/merchant_header' %>
<div style="padding-left:0; padding-right:0;" class="container-fluid merchant-sign-up">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:50px;">
    <div class="text-center">
      <h3 style="color:white; margin-top:60px; font-weight:500; font-size:2em; text-transform:uppercase; text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);">What is halalfoodhunt.com?</h3>
      <iframe src="https://www.youtube.com/embed/p5aMjwFeF1s" width="450" height="250" frameborder="0" style="" allowfullscreen></iframe></center>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="background: rgba(0,0,0,0.7); padding:50px;">
    <h4 style="color:white; margin-top:60px; text-transform:uppercase; text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);"><center>CREATE AN AFFILIATE MERCHANT ACCOUNT</center></h4>
    <center><p style="color:white;">Please fill in your information to create an account with us. <br><center><p style="color:white;">Have an account? <%= render "devise/shared/links" %>.</center></p></p>
  </center>
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), label_errors: true, inline_errors: true) do |f| %>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="field label-form" style="color:white;">
      <%= f.collection_select :region_id, Region.all, :id, :name, autofocus: true, layout: :inline %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="field label-form" style="color:white;">
      <%= f.email_field :email, label: "Your Email" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="field label-form" style="color:white;">
      <%= f.text_field :contact_person_name, autofocus: true, label: "Your Name" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="field label-form" style="color:white;">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Must be at least 6 characters long" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="field label-form" style="color:white;">
      <%= f.phone_field :mobile_number, label: "Your Mobile Number" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="actions">
      <%= f.submit "Next", :class => 'btn btn-block btn-raised btn-danger' %>
    </div>
  </div>
  <% end %>
  <center><p style="color:white;">By creating an account, you agree to our <a href="#">terms.</a></p></center>
</div>
</div>
</div>
<div class="container-fluid" style="background-color: #F9F9F9; padding:50px 0 50px 0;">
  <div class="container">
   <div class="col-xs-12 col-sm-12 col-md-3" style="background-color: #F9F9F9;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/restaurant-1.png" alt="" style="wdith:64px;height:64px">
     <br><br><p class="lead" style="color:gray">Display the best of your menu</p></center></div>
     <div class="col-xs-12 col-sm-12 col-md-3" style="background-color: #F9F9F9;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/men-shaking-hands.png" alt="" style="wdith:64px;height:64px">
       <br><br><p class="lead" style="color:gray">Partner with us for marketing features</p></center></div>
       <div class="col-xs-12 col-sm-12 col-md-3" style="background-color: #F9F9F9;"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/medal.png" alt="" style="wdith:64px;height:64px">
         <br><br><p class="lead" style="color:gray">Tap on our FRIENDS card</p></center></div>
         <div class="col-xs-12 col-sm-12 col-md-3"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/multimedia.png" alt="" style="wdith:64px;height:64px">
           <br><br><p class="lead" style="color:gray">One stop digital marketing</p></center></div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
<div class="container"><h2><center>HOW IT WORKS?</center></h2><br><br>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail" style="padding:35px;">
      <img src="https://www.seodiesel.com/img/login/register.png" alt="step_1">
      <div class="caption">
        <center><span class="badge success">Step 1</span>
          <h4>Create a free account</h4>
          <p>Create a free account to get started!</p></center>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail" style="padding:35px;">
        <img src="https://portals.clarity-ventures.com/portals/0/images/article/catalognobuyoption/product%20catalog.png" alt="step_1">
        <div class="caption">
          <center><span class="badge label-success">Step 2</span>
            <h4>Choose a category</h4>
            <p>We have up to 8 categories to choose from. Choose a category that suits your business needs.</p></center>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="http://www.dewmedicareandtrinityhospital.com/images/Icon-Accreditation.png" alt="step_1">
          <div class="caption">
            <center><span class="badge label-success">Step 3</span>
              <h4>Create a listing</h4>
              <p>Create a listing. Be sure to have interesting answers in the Q & A section to catch our editor's attention for our next publication!</p></center>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://cdn0.iconfinder.com/data/icons/rewards-icons-rounded/110/Reward-Star-512.png" alt="step_1">
            <div class="caption">
              <center><span class="badge label-success">Step 4</span>
                <h4>Offer a reward for our friends!</h4>
                <p>Be sure to offer a reward for our FRIENDS as the higher the reward you offer, the better it is for us to promote you!</p></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>