<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="col-xs-12 col-sm-12 col-md-2">
    <h6>SEARCH FOR A SUPERMARKET</h6>
  </div>
  <%= search_form_for @search do |f| %>
  <div class="col-xs-12 col-sm-12 col-md-5">
    <div class="form-group" style="margin-bottom: 0; background: rgba(255,255,255,1); color:black;">
       <%= f.text_field :brand_name_or_operating_address_cont, class: "form-control" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-2">
    <%= f.collection_select(:supermarket_highlights_id_eq_any, SupermarketHighlight.all, :id, :name, {:include_blank => "Supermarket Highlights"}, {:class=>'form-control'}) %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-2">
    <%= f.collection_select(:location_id_eq, Location.order(:name), :id, :name, {:include_blank => "Locations"}, {:class=>'form-control'}) %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-1">
        <%= f.submit "Search", class: "btn btn-raised btn-block btn-danger" %>
  </div>
  <% end %>
</div>