<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/merchant_sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding:0;">
      <%= render 'layouts/topbar' %>
      <div class="col-md-10 col-md-offset-1" style="margin-bottom:20px;">
        <center><h4><strong>Welcome to halalfoodhunt.com’s Merchant's dashboard!</strong></h4>
          <p>The information you put in here will determine what your hungry customers will read about your place. Give them the right information to help them decide where to eat!</p>
          <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/11/Youtube.jpg" class="img-responsive" alt="Responsive image">
        </center>
        <p id="notice"><%= notice %></p>
        <h1>Listing Listings</h1>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Merchant</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @listings.each do |listing| %>
            <tr>
              <td></td>
              <td><%= link_to 'Show', listing %></td>
              <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
              <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <table class="table table-responsive">
          <thead>
            <tr>
                <th>Listing Type</th>
                <th></th>
                <th>Business name</th>
                <th>Halal Status</th>
                <th>Verified</th>
                <th>Status</th>
                <th>Expiry Date</th>
                <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @current_merchant.places.each do |place| %>
            <tr><td>Place</td>
                <td><%= image_tag place.logo.url(:thumb), :class => "img-circle" %></td>
                <td><%= link_to place.business_name, edit_place_path(place) %></td>
                <td><%= link_to place.qualifying_type.name %></td>
                <td><%= place.verified ? "Verified" : "Unverified" %></td>
                <td><%= place.draft ? "Draft" : "Published" %></td>
                <td><%= place.expiry_date.strftime("%d %b %Y") %></td>
                <td><%= link_to edit_place_path(place) do %><i class="fa fa-pencil"></i><% end %></td>
                <td><%= link_to place, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o"></i><% end %></td>
            </tr>
            <% end %>
          </tbody>
          <% unless @current_merchant.ecommers.empty? %>
          <tbody>
            <% @current_merchant.ecommers.each do |ecommer| %>
            <tr><td>Ecommer</td>
                <td><%= image_tag ecommer.logo.url(:thumb), :class => "img-circle" %></td>
                <td><%= link_to ecommer.business_name, edit_ecommer_path(ecommer) %></td>
                <td><%= link_to ecommer.qualifying_type.name %></td>
                <td><%= ecommer.verified ? "Verified" : "Unverified" %></td>
                <td><%= ecommer.draft ? "Draft" : "Published" %></td>
                <td><%= ecommer.expiry_date.strftime("%d %b %Y") %></td>
                <td><%= link_to edit_ecommer_path(ecommer) do %><i class="fa fa-pencil"></i><% end %></td>
                <td><%= link_to ecommer, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o"></i><% end %></td>
            </tr>
            <% end %>
          </tbody>
          <% end %>
           <% unless @current_merchant.suppliers.empty? %>
          <tbody>
            <% @current_merchant.suppliers.each do |supplier| %>
            <tr><td>Supplier</td>
                <td><%= image_tag supplier.logo.url(:thumb), :class => "img-circle" %></td>
                <td><%= link_to supplier.business_name, edit_supplier_path(supplier) %></td>
                <td><%= link_to supplier.qualifying_type.name %></td>
                <td><%= supplier.verified ? "Verified" : "Unverified" %></td>
                <td><%= supplier.draft ? "Draft" : "Published" %></td>
                <td><%= supplier.expiry_date.strftime("%d %b %Y") %></td>
                <td><%= link_to edit_supplier_path(supplier) do %><i class="fa fa-pencil"></i><% end %></td>
                <td><%= link_to supplier, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o"></i><% end %></td>
            </tr>
            <% end %>
          </tbody>
          <% end %>
           <% unless @current_merchant.caterers.empty? %>
          <tbody>
            <% @current_merchant.caterers.each do |caterer| %>
            <tr><td>Caterer</td>
                <td><%= image_tag caterer.logo.url(:thumb), :class => "img-circle" %></td>
                <td><%= link_to caterer.business_name, edit_caterer_path(caterer) %></td>
                <td><%= link_to caterer.qualifying_type.name %></td>
                <td><%= caterer.verified ? "Verified" : "Unverified" %></td>
                <td><%= caterer.draft ? "Draft" : "Published" %></td>
                <td><%= caterer.expiry_date.strftime("%d %b %Y") %></td>
                <td><%= link_to edit_caterer_path(caterer) do %><i class="fa fa-pencil"></i><% end %></td>
                <td><%= link_to caterer, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o"></i><% end %></td>
            </tr>
            <% end %>
          </tbody>
          <% end %>
          <tbody>
            <% @current_merchant.lessons.each do |lesson| %>
            <tr><td>Place</td>
                <td><%= image_tag lesson.logo.url(:thumb), :class => "img-circle" %></td>
                <td><%= link_to lesson.brand_name, edit_lesson_path(lesson) %></td>
                <td><%= lesson.verified ? "Verified" : "Unverified" %></td>
                <td><%= lesson.draft ? "Draft" : "Published" %></td>
                <td><%= lesson.expiry_date.strftime("%d %b %Y") %></td>
                <td><%= link_to edit_lesson_path(lesson) do %><i class="fa fa-pencil"></i><% end %></td>
                <td><%= link_to lesson, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o"></i><% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
