<%= render 'layouts/merchant_header' %>
<div class="container" style="padding-bottom:50px; margin-top;80px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3><center>WELCOME TO YOUR MERCHANT DASHBOARD!</center></h3>
    <% unless current_merchant.free? %>
    <ul class="nav nav-pills nav-justified" style="border:1px solid #ccc; margin: 20px 0 20px 0;">
      <li class="<%= 'active' if current_page?(main_app.edit_merchant_registration_path) %>"><%= link_to 'My Profile', main_app.edit_merchant_registration_path %></li>
      <li class="<%= 'active' if current_page?(main_app.listings_path) %>"> <%= link_to 'My Current Listings Plan', main_app.listings_path %>
        <li role="presentation"><a href="#">Upgrade</a></li>
        <li role="presentation"><a href="#">Resource</a></li>
      </ul>
      <% end %>
      <div class="container">
        <div class="row bs-wizard" style="background:#fff; border: 1px solid #ccc;">
          <h3><center>WELCOME TO YOUR MERCHANT DASHBOARD!</center></h3>
          <div class="col-xs-3 bs-wizard-step complete">
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center"><h5 style="color:#22211d; font-weight:700;">CREATE AN ACCOUNT</h5></div>
          </div>

          <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center"><h5>ABOUT YOUR BUSINESS</h5></div>
          </div>

          <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center"><h5>SUBSCRIBE</h5></div>
          </div>

          <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center"><h5>CREATE LISTING</h5></div>
          </div>
        </div>
      </div>
      <h4>YOUR LISTINGS</h4>
      <center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/02/howitworks-01.jpg" class="img-responsive" alt="Responsive image">
      </center><h4>How many listings do you want to attach to your profile?</h4>
      <%= bootstrap_form_for(@current_merchant, as: current_merchant, url: registration_path(current_merchant), html: { method: :put }) do |f| %>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <%= f.radio_button :role, :basic, label: "1 Listing" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <%= f.radio_button :role, :basic_plus, label: "2 Listings" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <%= f.radio_button :role, :social, label: "3 Listings" %>
      </div>
      <%= f.submit "Next" %>
      <% end %>
      <% unless current_merchant.free? %>
      <div class="col-xs-12 col-sm-6 col-md-9">
        <h4>YOUR LISTINGS</h4>
        <p>This is where you can edit, delete and add your listings.</p>
        <p id="notice"><%= notice %></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3"><center><h6 style="margin:10px 0 0 0;"><strong>Your Current Plan:</strong><h6 class="label label-success"><%= current_merchant.role %></h6></h6>
        <% if current_merchant.basic? %>
        <p style="margin-top:5px;"><strong>Current Listings:<%= current_merchant.listings.count %>/1</strong></p>
        <% elsif current_merchant.basic_plus? %>
        <p style="margin-top:5px;"><strong>Current Listings:<%= current_merchant.listings.count %>/3</strong></p>
        <% else current_merchant.social? %>
        <p style="margin-top:5px;"><strong>Current Listings:<%= current_merchant.listings.count %>/5</strong></p>
        <% end %>
      </center>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" style="background:white; padding:5px; border:1px solid #ccc;">
      <div class="col-xs-12 col-sm-12 col-md-9"><p style="margin:5px 0 0 0;">SHOWING <b><%= @current_merchant.listings.count %></b> Listings IN ALL CITIES, Singapore</p></div>
      <div class="col-xs-12 col-sm-12 col-md-3"><% if @quota_warning.present? %>
        <center><button type="button" class="btn btn-sm btn-raised btn-danger disabled"><%= @quota_warning %></button></center>
        <% else %>
        <center><%= link_to 'Add More Listings', new_listing_path, :class => 'btn btn-sm btn-raised btn-success' %></center>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" style="background:white; padding:15px; border:1px solid #ccc;">
      <% @current_merchant.listings.each do |listing| %>
      <% unless @current_merchant.places.empty? %>
      <% listing.places.each do |place| %>
      <div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom:20px;">
        <% if place.verified == true %>
        <span class="label label-success" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">VERIFIED</span>
        <% else %>
        <span class="label label-danger" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">
          UNVERIFIED
        </span>
        <% end %>
        <div class="thumbnail" style="padding:0px; height:280px;">
          <%= image_tag place.featured_image.url(:medium), :class => "img_responsive" %>
          <div class="caption">
            <center><p style="margin:0;"><i class="fa fa-map-marker"></i> <%= place.business_name %></p></center>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 btn-places" style="background:orange;"><center><h5><strong>Place</strong><br> (EXPIRY: <%= place.expiry_date.strftime('%m/%d/%Y') %>) </h5></center></div>
          <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px; border-right:solid 1px #ccc;">
           <center><%= link_to edit_place_path(place) do %><i class="fa fa-pencil" style="color:white"></i><% end %></center>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px;">
           <center><%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o" style="color:white"></i><% end %></center>
         </div>
       </div>
     </div>
     <% end %>
     <% end %>
     <% unless @current_merchant.ecommers.empty? %>
     <% listing.ecommers.each do |ecommer| %>
     <div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom:20px;">
      <% if ecommer.verified == true %>
      <span class="label label-success" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">VERIFIED</span>
      <% else %>
      <span class="label label-danger" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">
        UNVERIFIED
      </span>
      <% end %>
      <div class="thumbnail" style="padding:0px; height:280px;">
        <%= image_tag ecommer.featured_image.url(:medium), :class => "img_responsive" %>
        <div class="caption">
          <center><p style="margin:0;"><i class="fa fa-map-marker"></i> <%= ecommer.business_name %></p></center>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 btn-ecommer" style="background:#C4A276;"><center><h5><strong>Ecommer</strong><br> (EXPIRY: <%= ecommer.expiry_date.strftime('%m/%d/%Y') %>) </h5></center></div>
        <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px; border-right:solid 1px #ccc;">
         <center><%= link_to edit_ecommer_path(ecommer) do %><i class="fa fa-pencil" style="color:white"></i><% end %></center>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px;">
         <center><%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o" style="color:white"></i><% end %></center>
       </div>
     </div>
   </div>
   <% end %>
   <% end %>
   <% unless @current_merchant.caterers.empty? %>
   <% listing.caterers.each do |caterer| %>
   <div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom:20px;">
    <% if caterer.verified == true %>
    <span class="label label-success" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">VERIFIED</span>
    <% else %>
    <span class="label label-danger" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">
      UNVERIFIED
    </span>
    <% end %>
    <div class="thumbnail" style="padding:0px; height:280px;">
      <%= image_tag caterer.featured_image.url(:medium), :class => "img_responsive" %>
      <div class="caption">
        <center><p style="margin:0;"><i class="fa fa-map-marker"></i> <%= caterer.business_name %></p></center>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 btn-caterer" style="background:#D39C25;"><center><h5><strong>Caterer</strong><br> (EXPIRY: <%= caterer.expiry_date.strftime('%m/%d/%Y') %>) </h5></center></div>
      <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px; border-right:solid 1px #ccc;">
       <center><%= link_to edit_caterer_path(caterer) do %><i class="fa fa-pencil" style="color:white"></i><% end %></center>
     </div>
     <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px;">
       <center><%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o" style="color:white"></i><% end %></center>
     </div>
   </div>
 </div>
 <% end %>
 <% end %>
 <% unless @current_merchant.suppliers.empty? %>
 <% listing.suppliers.each do |supplier| %>
 <div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom:20px;">
  <% if supplier.verified == true %>
  <span class="label label-success" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">VERIFIED</span>
  <% else %>
  <span class="label label-danger" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">
    UNVERIFIED
  </span>
  <% end %>
  <div class="thumbnail" style="padding:0px; height:280px;">
    <%= image_tag supplier.featured_image.url(:medium), :class => "img_responsive" %>
    <div class="caption">
      <center><p style="margin:0;"><i class="fa fa-map-marker"></i> <%= supplier.business_name %></p></center>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 btn-supplier" style="background:#8B572A;"><center><h5><strong>Supplier</strong><br> (EXPIRY: <%= supplier.expiry_date.strftime('%m/%d/%Y') %>) </h5></center></div>
    <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px; border-right:solid 1px #ccc;">
     <center><%= link_to edit_supplier_path(supplier) do %><i class="fa fa-pencil" style="color:white"></i><% end %></center>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px;">
     <center><%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o" style="color:white"></i><% end %></center>
   </div>
 </div>
</div>
<% end %>
<% end %>
<% unless @current_merchant.lessons.empty? %>
<% listing.lessons.each do |lesson| %>
<div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom:20px;">
  <% if lesson.verified == true %>
  <span class="label label-success" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">VERIFIED</span>
  <% else %>
  <span class="label label-danger" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">
    UNVERIFIED
  </span>
  <% end %>
  <div class="thumbnail" style="padding:0px; height:280px;">
    <%= image_tag lesson.featured_image.url(:medium), :class => "img_responsive" %>
    <div class="caption">
      <center><p style="margin:0;"><i class="fa fa-map-marker"></i> <%= lesson.brand_name %></p></center>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 btn-academy" style="background:#886A29;"><center><h5><strong>Academy</strong><br> (EXPIRY: <%= lesson.expiry_date.strftime('%m/%d/%Y') %>) </h5></center></div>
    <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px; border-right:solid 1px #ccc;">
     <center><%= link_to edit_lesson_path(lesson) do %><i class="fa fa-pencil" style="color:white"></i><% end %></center>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px;">
     <center><%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o" style="color:white"></i><% end %></center>
   </div>
 </div>
</div>
<% end %>
<% end %>
<% unless @current_merchant.online_grocers.empty? %>
<% listing.online_grocers.each do |online_grocer| %>
<div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom:20px;">
  <% if online_grocer.verified == true %>
  <span class="label label-success" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">VERIFIED</span>
  <% else %>
  <span class="label label-danger" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">
    UNVERIFIED
  </span>
  <% end %>
  <div class="thumbnail" style="padding:0px; height:280px;">
    <%= image_tag online_grocer.featured_image.url(:medium), :class => "img_responsive" %>
    <div class="caption">
      <center><p style="margin:0;"><i class="fa fa-map-marker"></i> <%= online_grocer.brand_name %></p></center>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 btn-grocer" style="background:#8B572A;"><center><h5><strong>Online Grocer</strong><br> (EXPIRY: <%= online_grocer.expiry_date.strftime('%m/%d/%Y') %>) </h5></center></div>
    <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px; border-right:solid 1px #ccc;">
     <center><%= link_to edit_online_grocer_path(online_grocer) do %><i class="fa fa-pencil" style="color:white"></i><% end %></center>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px;">
     <center><%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o" style="color:white"></i><% end %></center>
   </div>
 </div>
</div>
<% end %>
<% end %>
<% unless @current_merchant.food_deliveries.empty? %>
<% listing.food_deliveries.each do |food_delivery| %>
<div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom:20px;">
  <% if food_delivery.verified == true %>
  <span class="label label-success" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">VERIFIED</span>
  <% else %>
  <span class="label label-danger" style="position:absolute; z-index:100; padding:5px; margin:5px 0 0 5px;">
    UNVERIFIED
  </span>
  <% end %>
  <div class="thumbnail" style="padding:0px; height:280px;">
    <%= image_tag food_delivery.featured_image.url(:medium), :class => "img_responsive" %>
    <div class="caption">
      <center><p style="margin:0;"><i class="fa fa-map-marker"></i> <%= food_delivery.brand_name %></p></center>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 btn-grocer" style="background:#8B572A;"><center><h5><strong>Food Delivery</strong><br> (EXPIRY: <%= food_delivery.expiry_date.strftime('%m/%d/%Y') %>) </h5></center></div>
    <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px; border-right:solid 1px #ccc;">
     <center><%= link_to food_delivery_path(food_delivery) do %><i class="fa fa-pencil" style="color:white"></i><% end %></center>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6" style="background:#333; color:white; padding:10px;">
     <center><%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o" style="color:white"></i><% end %></center>
   </div>
 </div>
</div>
<% end %>
<% end %>
<% end %>
</div>
<% end %>
</div>
