<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/admin_sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main-admin" style="padding:0;">
      <%= render 'layouts/topbar' %>
      <div class="col-md-10 col-md-offset-1" style="color:white; border:1px solid #ccc; padding:10px; margin-bottom:20px;">
        <%= form_tag update_multiple_friends_cards_path, method: :put do %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h6><strong>Name</strong></h6></th>
          <th><h6><strong>Expiry Date</strong></h6></th>
          <th><h6><strong>Pay by Paypal?</strong></h6></th>
          <th><h6><strong>Gift?</strong></h6></th>
          <th><h6><strong>Paid?</strong></h6></th>
        </tr>
      </thead>
      <tbody>
        <% @friends_cards.each do |friends_card| %>
      <%= fields_for "friends_cards[]", friends_card do |f| %>
      <% if friends_card.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(friends_card.errors.count, "error") %> prohibited this friends_card from being saved:</h2>
        <ul>
          <% friends_card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
        <tr>
          <td><%= friends_card.name %></td>
          <td><%= f.date_select :expiry_date %></td>
          <td><%= f.check_box :paypal %></td>
          <td><%= f.check_box :gift %></td>
          <td><%= f.check_box :paid %></td>
        </tr>
        <% end %>
    <% end %>
      </tbody>
      </table>
    <div class="actions">
      <center><%= submit_tag "Update", class: 'btn btn-large btn-raised btn-primary' %></center>
    </div>

  </div>
  <% end %>
      </div>
    </div>
  </div>
</div>