<%= bootstrap_form_for(@ecommer) do |f| %>
  <% if @ecommer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ecommer.errors.count, "error") %> prohibited this ecommer from being saved:</h2>

      <ul>
      <% @ecommer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:30px 0 30px 0; padding:0;">
 <div class="col-xs-12 col-sm-6 col-md-4"><h5><strong>Upload Logo</strong></h5><p>Provide a logo for your business so your customers can identify you.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <div class="media">
    <div class="media-left media-top">
      <%= image_tag(@ecommer.logo.url(:large), :class => "img_circle", :style => "width:200px; height:200px;") %>
      <p><i>Dimension 250 by 250 pixels. JPEG or PNG files only.</i></p>
    </div>
    <div class="media-body">
      <div class="field">
       <p>Drag and drop or <%= f.file_field :logo, hide_label: true %> to upload logo<br><br><br><br><br><br><br><br><br></p>
     </div>
   </div>
 </div>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-12 col-sm-6 col-md-4"><h5><strong>SELECT THE REGION & LOCATION OF YOUR LISTING</strong></h5> <p>Please pick the general region and location of your listing so that customers can find you for self-collection or look out for you during events. Please indicate the supporting type of E-Commer service that your business provides. </p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
   <%= f.collection_select :region_id, Region.all, :id, :name, autofocus: true, layout: :inline %>
   <%= f.collection_select :location_id, Location.all, :id, :name, autofocus: true, layout: :inline %>
 </div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-12 col-sm-6 col-md-4"><h5><strong>HALAL STATUS</strong></h5> </div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <%= f.collection_select :qualifying_type_id, QualifyingType.all, :id, :name, autofocus: true, layout: :inline, label: "Halal Qualifying Type" %>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>UPLOAD VERIFYING DOCUMENTS</strong></h5> <p>For <b>Halal-certified</b> businesses, please provide a copy or a photo of your MUIS Halal certificate. <br><br>For <b>Muslim-owned</b> businesses, please upload a copy or a photo of your NRIC (front and back) and your Company’s Business Registration (Bizfile). <br><br> For Individuals;Please submit photos of your NRIC (front and back)</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th colspan="6">File Name</th>
        <th>File Size</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag(@ecommer.document_1.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @ecommer.document_1_file_name %></td>
        <td><%= @ecommer.document_1_file_size %></td>
        <td><%= f.file_field :document_1, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@ecommer.document_2.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @ecommer.document_2_file_name %></td>
        <td><%= @ecommer.document_2_file_size %></td>
        <td><%= f.file_field :document_2, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@ecommer.document_3.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @ecommer.document_3_file_name %></td>
        <td><%= @ecommer.document_3_file_size %></td>
        <td><%= f.file_field :document_3, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@ecommer.document_4.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @ecommer.document_4_file_name %></td>
        <td><%= @ecommer.document_4_file_size %></td>
        <td><%= f.file_field :document_4, hide_label: true %></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-12 col-sm-6 col-md-4"><h5><strong>FILL IN YOUR LISTING DETAILS</strong></h5> <p>Please provide the relevant details to allow customers to maintain contact with your business easily. Accurate and comprehensive information will help you gain more credibility on your listings and help you to be more easily searchable.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <div class="field">
    <%= f.text_field :business_name, label:'Brand Name' %>
  </div>
  <div class="field">
    <%= f.text_field :general_contact_number %>
  </div>
  <div class="field">
    <%= f.text_field :general_email %>
  </div>
  <div class="field">
    <%= f.text_field :operating_address, label: "Self Collection / Self Contact Address", helper:"Eg 10 Ubi Crescent" %>
  </div>
 <div class="field">
    <%= f.url_field :facebook, helper:"http://www.facebook.com/username", label:"Facebook Link (Insert full URL)" %>
  </div>
  <div class="field">
    <%= f.url_field :instagram, helper:"http://www.instagram.com/username", label:"Instagram Link (Insert full URL)" %>
  </div>
  <div class="field">
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.text_field :preferred_contact, label: 'Contactable Hours' %>
  </div>
  <div class="field">
    <%= f.text_field :preferred_order_method, label: 'preferred order or selling method' %>
  </div>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>SELECT THE CATEGORIES THAT FIT YOU</strong></h5> <p>You may pick more than 1 category per field</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
   <%= f.select :service_type_ids, ServiceType.all.map{ |h| [h.name, h.id]}, {}, multiple: true, id: 'service-type' %>
   <%= f.select :food_type_ids, FoodType.all.map{ |d| [d.name, d.id]}, {}, multiple: true, id: 'food-type' %>
   <%= f.collection_select :establishment_type_id, EstablishmentType.all, :id, :name, autofocus: true, layout: :inline, label: "Ecommer Type" %>
 </div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-12 col-sm-6 col-md-4"><h5><strong>UPLOAD A FEATURED IMAGE FOR YOUR LISTING</strong></h5><p>This should be a photo that best represent your business.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <div class="media">
    <div class="media-left media-top">
      <%= image_tag(@ecommer.featured_image.url(:large), :class => "img_responsive", :style => "width:300px; height:180px;") %>
      <p><i>Dimension 800 by 600 pixels. JPEG files only.</i></p>
    </div>
    <div class="media-body">
      <div class="field">
       <p>Drag and drop or <%= f.file_field :featured_image, hide_label: true %> to upload logo<br><br><br><br><br><br><br><br><br></p>
     </div>
   </div>
 </div>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-12 col-sm-6 col-md-4"><h5><strong>Upload Gallery Images</strong></h5> <p>Please upload four images that showcase the food on your online platform.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th colspan="6">File Name</th>
        <th>File Size</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag(@ecommer.image.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @ecommer.image_file_name %></td>
        <td><%= @ecommer.image_file_size %></td>
        <td><%= f.file_field :image, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@ecommer.image_2.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @ecommer.image_2_file_name %></td>
        <td><%= @ecommer.image_2_file_size %></td>
        <td><%= f.file_field :image_2, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@ecommer.image_3.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @ecommer.image_3_file_name %></td>
        <td><%= @ecommer.image_3_file_size %></td>
        <td><%= f.file_field :image_3, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@ecommer.image_4.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @ecommer.image_4_file_name %></td>
        <td><%= @ecommer.image_4_file_size %></td>
        <td><%= f.file_field :image_4, hide_label: true %></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-12 col-sm-6 col-md-4"><h5><strong>TELL YOUR CUSTOMERS ALL THEY NEED TO KNOW ABOUT YOU</strong></h5> <p>Please provide comprehensive information so customers can get a better understanding about what your business has to offer. Please provide your answers in full sentences to encourage search-ability and to give your customers a clear understanding of your services. </p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <div class="field">
    <%= f.text_area :question_1, label:'What type of food do you make and which are the highly recommended ones?', label_class: "question" %>
  </div>
  <div class="field">
    <%= f.text_area :question_2, label:'How will my order reach me? Do you provide delivery services and what are the charges? ', label_class: "question" %>
  </div>
  <div class="field">
    <%= f.text_area :question_3, label:'Am I able to do a self-collection for my orders? If so, where?', label_class: "question" %>
  </div>
</div>
</div> 
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-12 col-sm-6 col-md-4"><h5><strong>Friends Rewards</strong></h5> <p>Manage the FRIENDS rewards you’d like to offer to encourage their patronage and set Terms and Conditions of your Reward as necessary.  </p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
   <%= f.collection_select :friends_reward_id, FriendsReward.all, :id, :name, autofocus: true, layout: :inline, :include_blank => 'No Rewards Offered' %>
  <%= f.text_area :friends_rewards_terms %>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-12 col-sm-6 col-md-4"><h5><strong>FRIENDS Discount Code for Online Ordering</strong></h5> <p>FRIENDS Identify themselves online and over the phone via a unique CODE assigned here to exercise the Reward that you have selected for them. This code is only accessible to FRIENDS.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <%= f.text_field :friends_code, label: 'Friends Rewards Discount Code' %>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-12 col-sm-6 col-md-4"><h5><strong>Provide monetising links</strong></h5></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <%= f.text_field :delivery_link %>
</div>
</div>
<div class="field">
  <h5><strong>ARE YOU READY TO BE PUBLISHED?</strong></h5>
  <p>Not ready to publish yet? Tick this box if you’d like to save this listing as a draft. Make sure to un-tick this box once you’re ready to publish your listing!</p>
    <%= f.check_box :draft, label: 'Save as Draft' %>
</div>
  <div class="actions" style="margin-bottom:20px;">
    <%= f.hidden_field :listing_id %>
    <%= f.submit :class => 'btn btn-md btn-raised btn-primary' %><%= link_to 'Delete', [listing.place, place], :method => :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $('select#service-type').select2({
    placeholder: "Select service types",
    allowClear: true
  });
});
$(document).ready(function() {
  $('select#cuisine-type').select2({
    placeholder: "Select cuisine types",
    allowClear: true
  });
});
$(document).ready(function() {
  $('select#food-type').select2({
    placeholder: "Select food types",
    allowClear: true
  });
});
</script>
