<p id="notice"><%= notice %></p>

<h1>Listing Ecommers</h1>

<table>
  <thead>
    <tr>
      <th>Business name</th>
      <th>General contact number</th>
      <th>General email</th>
      <th>Operating address</th>
      <th>Facebook</th>
      <th>Instagram</th>
      <th>Website</th>
      <th>Preferred contact</th>
      <th>Preferred order method</th>
      <th>Question 1</th>
      <th>Question 2</th>
      <th>Question 3</th>
      <th>Question 4</th>
      <th>Question 5</th>
      <th>Delivery link</th>
      <th>Draft</th>
      <th>Expiry date</th>
      <th>Merchant</th>
      <th>Friends rewards terms</th>
      <th>Verified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ecommers.each do |ecommer| %>
      <tr>
        <td><%= ecommer.business_name %></td>
        <td><%= ecommer.general_contact_number %></td>
        <td><%= ecommer.general_email %></td>
        <td><%= ecommer.operating_address %></td>
        <td><%= ecommer.facebook %></td>
        <td><%= ecommer.instagram %></td>
        <td><%= ecommer.website %></td>
        <td><%= ecommer.preferred_contact %></td>
        <td><%= ecommer.preferred_order_method %></td>
        <td><%= ecommer.question_1 %></td>
        <td><%= ecommer.question_2 %></td>
        <td><%= ecommer.question_3 %></td>
        <td><%= ecommer.question_4 %></td>
        <td><%= ecommer.question_5 %></td>
        <td><%= ecommer.delivery_link %></td>
        <td><%= ecommer.draft %></td>
        <td><%= ecommer.expiry_date %></td>
        <td><%= ecommer.merchant_id %></td>
        <td><%= ecommer.friends_rewards_terms %></td>
        <td><%= ecommer.verified %></td>
        <td><%= link_to 'Show', ecommer %></td>
        <td><%= link_to 'Edit', edit_ecommer_path(ecommer) %></td>
        <td><%= link_to 'Destroy', ecommer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ecommer', new_ecommer_path %>
