<% @online_grocers.each do |online_grocer| %>
<div class="col-xs-12 col-sm-6 col-md-3">
  <% if online_grocer.verified == true %>
  <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><%= image_tag(online_grocer.qualifying_type.icon.url(:square), :class => "img-responsive") %></span>
  <% else %>
 <span class="label label-danger" style="position:absolute; z-index:100; padding:0px 8px 0px 8px; left:7%; top:3%;"><h6 style="line-height:1; margin:8px 0 8px 0;">Unverified</h6></span>
  <% end %>
  <div style="padding:0px; height:280px; position:relative;" class="thumbnail">
    <%= image_tag online_grocer.featured_image.url(:medium), :class => "img_responsive" %>
    <div class="caption">
      <div class="media">
        <div class="media-left">
          <%= image_tag online_grocer.logo.url(:medium), :class => "img-circle-40" %>
        </div>
        <div class="media-body">
          <h5 class="media-heading"><%= link_to online_grocer.brand_name, online_grocer_path(online_grocer) %></h5>
          <% online_grocer.grocer_types.each do |grocer_type| %>
          <p><%= image_tag grocer_type.icon.url(:thumb) %> <%= grocer_type.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>