<% @online_grocers.each do |online_grocer| %>
<div class="four columns alpha">
 <div class="card-container manual-flip">
  <div class="card">
    <div class="front">
      <div class="cover">
        <% if online_grocer.verified == true %>
        <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><%= image_tag(online_grocer.qualifying_type.icon.url(:square), :class => "img-responsive") %></span>
        <% else %>
        <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><img class="img-responsive" src="http://s3.amazonaws.com/international-hfh/verifying_types/icons/000/000/002/square/Listing_Icons_Artboard_12.png?1487060601" alt="Chania" style="width:40px; height:40px;"></span><% end %>
        <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:20%;">
          <% unless online_grocer.friends_rewards_terms.blank? %>
          <%= image_tag online_grocer.friends_reward.icon.url(:square), :class => "img-responsive" %>
          <% end %>
        </span>
        <%= link_to online_grocer_path(online_grocer) do %><%= image_tag online_grocer.featured_image.url(:square), :class => "img_responsive" %><% end %>
      </div>
      <div class="user">
        <%= image_tag online_grocer.logo.url(:medium), :class => "img-circle" %>
      </div>
      <div class="content">
        <label><strong><%= link_to online_grocer.brand_name, online_grocer_path(online_grocer) %></strong></label>
        <p class="profession">
         <center>
      <% online_grocer.grocer_types.each do |grocer_type| %>
          <p><%= image_tag grocer_type.icon.url(:thumb) %> <%= grocer_type.name %></p>
          <% end %>
      </center>
       </p>
     </div>
   </div> <!-- end front panel -->
 </div>
</div>
</div>
<% end %>