<%= render 'layouts/category_header' %>
<%= render 'layouts/category_header' %>
<div class="col-xs-12 col-sm-12 col-md-12" style="padding:10px 0 10px 0; background:#f8f3f0; border-bottom:1px solid #ccc; margin-top:50px;">
  <%= render 'advanced_search' %>
</div>
<div class="col-md-10 col-md-offset-1">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://sg.halalfoodhunt.com">HOME</a></li>
    <li class="breadcrumb-item"><%= link_to 'ONLINE GROCERS', online_grocers_path %></li>
    <li class="breadcrumb-item active"><%= @online_grocer.brand_name %> </li>
  </ol>
</div>
<div style="padding-left:0; padding-right:0; background:#fff" class="container-fluid">
  <center><%= image_tag @online_grocer.featured_image.url(:large), :class => "img-responsive", :style =>"width:100%;" %>
  </center>
</div>
<div class="container-fluid" style="padding:20px 0 50px 0; background:#fff;">
  <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-7">
       <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag @online_grocer.logo.url(:medium), :class => "media-object img-circle" %>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading title"><%= @online_grocer.brand_name %></h4>
          <table class="table table-striped">
            <thead>
              <tr><% unless @online_grocer.location.name.blank? %><td><p><i class="fa fa-clock-o"></i> <%= @online_grocer.contactable_hours %></p></td><% end %></tr>
              <% unless @online_grocer.general_email.blank? %><tr style="border-top:#ccc solid 1px"><td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/envelope.png" title="Email" width="16"> <%= @online_grocer.general_email %></p></td></tr><% end %>
              <tr style="border-top:#ccc solid 1px"><td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/phone-call.png" title="Email" width="16"> +65  <%= @online_grocer.general_contact_number %></p></td></tr>
              <% unless @online_grocer.website.blank? %><tr style="border-top:#ccc solid 1px">
              <td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/house.png" title="Monitor" width="16"> <%= link_to @online_grocer.website, "#{@online_grocer.website}" %></p></td></tr><% end %>
              <tr style="border-top:#ccc solid 1px"><td><p>Social sites: <% unless @online_grocer.facebook.blank? %><%= link_to @online_grocer.facebook do %><i class="fa fa-facebook-official"></i><% end %><% end %>
                <% unless @online_grocer.instagram.blank? %><%= link_to @online_grocer.instagram do %><i class="fa fa-instagram"></i><% end %><% end %></p></td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <% unless @online_grocer.friends_rewards_terms.blank? %>
      <div class="container-fluid" style="border:#ccc solid 1px; padding:10px; background:#fff;">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="avatar">
            <center><%= image_tag @online_grocer.friends_reward.icon.url(:medium), :class => "img-circle img_responsive" %></center>
          </div>
          <center><a href="http://www.halalfoodhunt.com/friends" class="btn btn-raised btn-primary" role="button">Be a FRIEND</a>
          </center>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
          <h4 class="form-subtitle" style="color:#044E2E">Friends Card Holders Only</h4>
          <p><%= @online_grocer.friends_rewards_terms %></p>
        </div>
      </div>
      <% end %>
      <br>
      <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
      <h4 class="title">Grocer Type</h4>
      <% @online_grocer.grocer_types.each do |grocer_type| %>
      <div class="col-xs-6 col-md-6"><p><%= image_tag grocer_type.icon.url(:thumb) %> <%= grocer_type.name %></p></div><% end %>
    </div>
    <br>
    <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
      <h4 class="title">Online Grocer Service Types</h4>
      <% @online_grocer.grocer_service_types.each do |grocer_service_type| %>
      <div class="col-xs-6 col-md-6"><p><%= image_tag grocer_service_type.icon.url(:thumb) %> <%= grocer_service_type.name %></p></div>
      <% end %>
    </div>
    <br>
      <h4 class="form-subtitle" style="color:#D04E2E;">FAQ</h4>
      <h5 class="question">What do you retail?</h5>
      <p><%= h(@online_grocer.question_1).gsub(/\n/, '<br>').html_safe %></p>
      <h5 class="question">How do I place an order with you?</h5>
      <p><%= h(@online_grocer.question_2).gsub(/\n/, '<br>').html_safe %></p>
      <h5 class="question">How will my order reach me? Do you provide delivery services and what are the charges?</h5>
      <p><%= h(@online_grocer.question_3).gsub(/\n/, '<br>').html_safe %></p>
      <h5 class="question">Am I able to do a self-collection for my orders? If so, where?</h5>
      <p><%= h(@online_grocer.question_4).gsub(/\n/, '<br>').html_safe %></p>
      <h5 class="question">Please provide me with links to reviews about you.</h5>
      <p><%= h(@online_grocer.question_5).gsub(/\n/, '<br>').html_safe %></p>
    </div>  
    <div class="col-xs-12 col-sm-12 col-md-5">
      <% unless @online_grocer.qualifying_type.blank? %>
      <div class="container-fluid" style="background: white; padding:10px; border:1px solid #ccc;">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="avatar"><center>
            <% if @online_grocer.verified == true %>
            <%= image_tag @online_grocer.qualifying_type.icon.url(:medium), :class => "img-circle img_responsive", :style => "height:80px; width:80px;" %>
            <% else %>
            <img class="img-responsive" src="http://s3.amazonaws.com/international-hfh/verifying_types/icons/000/000/002/medium/Listing_Icons_Artboard_12.png?1487220138" alt="Chania">
            <% end %>
          </center></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
          <h4 class="title">Halal Verification</h4>
          <p><% if @online_grocer.verified == true %>
            <%= @online_grocer.qualifying_type.halal_summary %>
            <% else %>
            This business has yet to submit documents for official verification.
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
      <br>
      <p><%= link_to "Order NOW!", raw(@online_grocer.ordering_link), :class => "btn btn-block btn-raised btn-primary", :style => 'color:#fff;' %></p>
      <div class="row">
        <div class="col-xs-6">
          <%= image_tag @online_grocer.image.url(:square), :class => "img-thumbnail" %><br><br>
          <%= image_tag @online_grocer.image_2.url(:square), :class => "img-thumbnail" %>
        </div>
        <div class="col-xs-6">
         <%= image_tag @online_grocer.image_3.url(:square), :class => "img-thumbnail" %><br><br>
         <%= image_tag @online_grocer.image_4.url(:square), :class => "img-thumbnail" %>
       </div>
     </div>
  </div>
</div>
</div>