 <%= bootstrap_form_for @registration do |f| %>
 <% if @registration.errors.any? %>
 <div id="error_explanation">
  <h2>
    <%= pluralize(@registration.errors.count, "error") %>
    prohibited this registration from being saved:
  </h2>
  <ul>
    <% @registration.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
<h4>Friends Card Details</h4>
<div class="field">
  <%= f.hidden_field :friends_card_id, value: @friends_card.id %>
</div>
<div class="field">
  <%= f.text_field :name, label: 'Name on card' %>
</div>
<div class="field">
  <%= f.text_field :ic_number %>
</div>
<div class="field">
  <%= f.date_select :date_of_birth, start_year: 1950, order: [:day, :month, :year] %>
</div>
<div class="field">
  <%= f.email_field :email %>
</div>
<div class="field">
  <%= f.text_field :contact_number %>
</div>
<div class="field">
  <%= f.text_field :instagram_account %>
</div>
<label>Where did you hear about us?</label>
<div class="field">
  <%= f.check_box :facebook_ads %>
</div>
<div class="field">
  <%= f.check_box :facebook_newsfeed %>
</div>
<div class="field">
  <%= f.check_box :facebook_video %>
</div>
<div class="field">
  <%= f.check_box :instagram %>
</div>
</div>
<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
<h4>Shipping Details</h4>
<div class="field">
  <%= f.text_field :address_1 %>
</div>
<div class="field">
  <%= f.text_field :address_2 %>
</div>
<div class="field">
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.text_field :zipcode %>
</div>
<div class="field">
  <%= f.text_area :notes, label:"Order Notes" %>
</div>
</div>
<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
<h4>Payment Details</h4>
<div class="field payment_method">
  <%= label_tag :payment_method %>
  <%= radio_button_tag :payment_method, "paypal" %>
  <%= image_tag "http://friends.jumaiyah.com/wp-content/uploads/2017/08/196566.png" %><br>
  <%= radio_button_tag :payment_method, "card", checked: true %>
  <%= image_tag "http://friends.jumaiyah.com/wp-content/uploads/2017/08/credit-card-visa-and-master-card-transparent-png.png", style: "max-width: 100px;" %>
  <script>
  $(document).on("click", "#new_registration input[type='radio']",
    function(e) {
      if ($("#payment_method_card:checked").val() == "card") {
        $("fieldset.card_info").show();
      }
      else {
        $("fieldset.card_info").hide();
      }
    });
  </script>
  <fieldset class="card_info">
    <legend>Credit Card Details</legend>
    <%= f.fields_for :card do |c| %>
    <div class="field">
      <%= c.text_field :first_name %>
    </div>
    <div class="field">
      <%= c.text_field :last_name %>
    </div>
    <div class="field">
      <%= c.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
    </div>
    <div class="field">
      <%= c.text_field :card_number %>
    </div>
    <div class="field">
      <%= c.text_field :card_verification, label: "Card Verification Value (CVV)" %>
    </div>
    <div class="field">
      <%= c.date_select :card_expires_on, discard_day: true, start_year: Date.today.year, end_year: (Date.today.year+10), add_month_numbers: true %>
    </div>
    <% end %>
  </fieldset>
</div>
<div class="actions">
  <%= f.submit "Proceed To Payment", class: "btn", style: "color: white;background: rgb(242, 118, 73);" %>
  </div>
  <script>
  
  $("form#new_registration").submit( function() {
    $(this).find('input[type=submit]').attr('disabled', 'disabled');
    $(this).find('input[type=submit]').val("Submitting, please wait ...")
  });

  </script>
</div>
<% end %>