<%= bootstrap_form_for(@halalfoodhunt_seo) do |f| %>
  <% if @halalfoodhunt_seo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@halalfoodhunt_seo.errors.count, "error") %> prohibited this halalfoodhunt_seo from being saved:</h2>

      <ul>
      <% @halalfoodhunt_seo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :meta_description %>
  </div>
  <div class="field">
    <label>Page?</label>
    <%= f.check_box :home %>
    <%= f.check_box :about_us %>
    <%= f.check_box :corporate_services %>
    <%= f.check_box :caterers_friends_rewards %>
    <%= f.check_box :ecommers_friends_rewards %>
    <%= f.check_box :food_deliveries_friends_rewards %>
    <%= f.check_box :friends %>
    <%= f.check_box :getting_listed %>
    <%= f.check_box :lessons_friends_rewards %>
    <%= f.check_box :online_grocers_friends_rewards %>
    <%= f.check_box :places_friends_rewards %>
    <%= f.check_box :supermarkets_friends_rewards %>
    <%= f.check_box :suppliers_friends_rewards %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-md btn-raised btn-primary' %>
  </div>
<% end %>
