<%= render 'layouts/header' %>
<div class='container'>
<p id="notice"><%= notice %></p>

<h1>Halalfoodhunt SEO</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Page</th>
      <th>Meta description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @halalfoodhunt_seos.each do |halalfoodhunt_seo| %>
      <tr>
        <% if halalfoodhunt_seo.home == true %>
        <span class="label label-success">HOME</span>
        <% end %>
        <% if halalfoodhunt_seo.places == true %>
        <span class="label label-success">PLACES</span>
        <% end %>
        <% if halalfoodhunt_seo.ecommers == true %>
        <span class="label label-success">ECOMMERS</span>
        <% end %>
        <% if halalfoodhunt_seo.caterers == true %>
        <span class="label label-success">CATERERS</span>
        <% end %>
        <% if halalfoodhunt_seo.food_deliveries == true %>
        <span class="label label-success">FOOD DELIVERIES</span>
        <% end %>
        <% if halalfoodhunt_seo.online_grocers == true %>
        <span class="label label-success">ONLINE GROCERS</span>
        <% end %>
        <% if halalfoodhunt_seo.academies == true %>
        <span class="label label-success">ACADEMIES</span>
        <% end %>
        <% if halalfoodhunt_seo.suppliers== true %>
        <span class="label label-success">SUPPLIERS</span>
        <% end %>
        <% if halalfoodhunt_seo.supermarkets == true %>
        <span class="label label-success">SUPERMARKETS</span>
        <% end %>
        <td><% if halalfoodhunt_seo.about_us == true %>
        <span class="label label-success">ABOUT US</span>
        <% end %>
        <% if halalfoodhunt_seo.corporate_services == true %>
        <span class="label label-success">CORPORATE SERVICES</span>
        <% end %>
        <% if halalfoodhunt_seo.caterers_friends_rewards == true %>
        <span class="label label-success">CATERERS FRIENDS REWARDS</span>
        <% end %>
        <% if halalfoodhunt_seo.ecommers_friends_rewards == true %>
        <span class="label label-success">ECOMMERS FRIENDS REWARDS</span>
        <% end %>
        <% if halalfoodhunt_seo.food_deliveries_friends_rewards == true %>
        <span class="label label-success">FOOD DELIVERIES FRIENDS REWARDS</span>
        <% end %>
        <% if halalfoodhunt_seo.friends == true %>
        <span class="label label-success">FRIENDS</span>
        <% end %>
        <% if halalfoodhunt_seo.friends_rewards == true %>
        <span class="label label-success">FRIENDS REWARDS</span>
        <% end %>
        <% if halalfoodhunt_seo.getting_listed == true %>
        <span class="label label-success">GETTING LISTED</span>
        <% end %>
        <% if halalfoodhunt_seo.lessons_friends_rewards == true %>
        <span class="label label-success">LESSONS FRIENDS REWARDS</span>
        <% end %>
         <% if halalfoodhunt_seo.online_grocers_friends_rewards == true %>
        <span class="label label-success">ONLINE GROCERS FRIENDS REWARDS</span>
        <% end %>
         <% if halalfoodhunt_seo.supermarkets_friends_rewards == true %>
        <span class="label label-success">SUPERMARKETS FRIENDS REWARDS</span>
        <% end %>
        <% if halalfoodhunt_seo.suppliers_friends_rewards == true %>
        <span class="label label-success">SUPPLIERS FRIENDS REWARDS</span>
        <% end %>
        </td>
        <td><%= halalfoodhunt_seo.meta_description %></td>
        <td><%= link_to 'Show', halalfoodhunt_seo %></td>
        <td><%= link_to 'Edit', edit_halalfoodhunt_seo_path(halalfoodhunt_seo) %></td>
        <td><%= link_to 'Destroy', halalfoodhunt_seo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Halalfoodhunt seo', new_halalfoodhunt_seo_path, :class => 'btn btn-md btn-raised btn-primary' %>
</div>
