<p id="notice"><%= notice %></p>

<h1>Listing Halalfoodhunt Seos</h1>

<table>
  <thead>
    <tr>
      <th>Meta description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @halalfoodhunt_seos.each do |halalfoodhunt_seo| %>
      <tr>
        <td><%= halalfoodhunt_seo.meta_description %></td>
        <td><%= link_to 'Show', halalfoodhunt_seo %></td>
        <td><%= link_to 'Edit', edit_halalfoodhunt_seo_path(halalfoodhunt_seo) %></td>
        <td><%= link_to 'Destroy', halalfoodhunt_seo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Halalfoodhunt seo', new_halalfoodhunt_seo_path %>
