<div class="container-fluid" style="background:#ccc;">
  <div class="container container-table">
    <div class="row vertical-center-row">
      <div class="col-xs-12 col-md-12" style="padding-left:0px; padding-right:0px; box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22); border-radius:15px; background: #d60013">
        <div class="col-xs-12 col-sm-6 col-md-4" style="padding:0; border-top-left-radius: 15px;">
          <div class ="col-md-12" style="padding:25px; background: #d60013; border-top-left-radius: 15px;">
            <img class="img-responsive" src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/05/FRIENDS-Card.jpg" alt="Chania">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" style="background:#fff; padding:25px;">
          <h4 style="color:#22211d;">Receipt Summary</h4><hr>
          <% friends_cards = @order.friends_cards.count %>
          <h2>Purchase Details</h2>
          <div class=" col-md-12 well product-details">
            <div class"panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= @product.name %></td>
                    <td><%= friends_cards %></td>
                    <td><%= @product.price %></td>
                  </tr>
                </tbody>
              </table>
              <h1 class="text-center">Orders for:</h1>
              <% @order.friends_cards.each_with_index do |p, i| %>
              <div class="col-md-6 col-md-offset-3 well">
                <h5><strong>Name: </strong><%= p.name %></h5>
                <h5><strong>Email: </strong><%= p.email %></h5>
                <% if i == friends_cards-1 %>
                <code class="pull-right">Total: <%= friends_cards * @product.price %> &euro;</code>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
