<% @ecommers.each do |ecommer| %>
<% unless ecommer.friends_rewards_terms.blank? %>
<div class="four columns alpha">
 <div class="card-container">
  <div class="card">
    <div class="front">
      <div class="cover">
        <%= image_tag ecommer.featured_image.url(:square) %>
      </div>
      <div class="user">
        <%= image_tag ecommer.friends_reward.icon.url(:large) %>
      </div>
      <div class="content">
        <label><strong><%= ecommer.business_name %></strong></label>
        <p class="profession"><i class="fa fa-map-marker"></i> <%= ecommer.operating_address %></p>
      </div>
    </div> <!-- end front panel -->
    <div class="back">
      <div class="header">
        <h5 class="motto"></h5>
      </div>
      <div class="content">
        <h4 class="text-center"><%= ecommer.friends_reward.name %></h4>
        <hr>
        <small class="text-center"><%= ecommer.friends_rewards_terms %></small><br><br>
        <label><%= link_to ecommer_path(ecommer), class:"btn_normal padding_5" do %><strong>View Merchant Details</strong><% end %></label>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
<% end %>