 <% @ecommers.each do |ecommer| %>
      <% unless ecommer.friends_rewards_terms.blank? %>
      <div class="col-xs-12 col-sm-6 col-md-3" >
        <!--Rotating card-->
        <div class="card-wrapper">
          <div id="card-1" class="card-rotating effect__click">
            <!--Front Side-->
            <div class="face front">
              <!-- Image-->
              <div class="card-up">
                <%= image_tag ecommer.featured_image.url(:square), :class => "img-responsive" %>
              </div>
              <!--Avatar-->
              <div class="avatar"><%= image_tag ecommer.friends_reward.icon.url(:large), :class => "img-circle img_responsive" %>
              </div>
              <!--Content-->
              <div class="card-block" style="padding:0 5px 0 5px;">
                <h5 style="margin:0;"><%= link_to ecommer_path(ecommer) do %><strong><%= ecommer.business_name %></strong><% end %></h5>
                <p style="margin:0;"><i class="fa fa-map-marker"></i> <%= ecommer.operating_address %></p><br>
                <!--Triggering button-->
                <p><a class="rotate-btn btn btn-primary btn-sm" data-card="card-1"> <i class="fa fa-repeat"></i> Read terms here</a></p>
              </div>
            </div>
            <!--/.Front Side-->
            <!--Back Side-->
            <div class="face back">
              <!--Content-->
              <h4><%= ecommer.friends_reward.name %></h4>
              <hr>
              <p><%= ecommer.friends_rewards_terms %></p>
              <hr>
              <!--Triggering button-->
              <a class="rotate-btn btn btn-primary btn-sm" data-card="card-1"><i class="fa fa-undo"></i> Click here to rotate back</a>
            </div>
            <!--/.Back Side-->
          </div>
        </div>
        <!--/.Rotating card-->
      </div>
      <% end %>
      <% end %>