<div class="col-xs-12 col-sm-12 col-md-12">
  <div class="col-sm-12 col-md-12" style="padding:0">
    <h6 style="text-align:left">Search for a reward</h6>
  </div>
   <%= search_form_for (@search, url: "pages/friends_rewards", method: :get) do |f| %>
  <div class="col-md-10" style="padding-left:0; padding-right:0;"><div class="form-group" style="margin-bottom: 0; background: rgba(255,255,255,1); color:black;">
  <%= f.text_field :business_name_or_operating_address_cont, class: "form-control" %>
  </div></div>
  <div class="col-md-2" style="padding-left:10px; padding-right:0;">
    <%= f.submit "Search", class: "btn btn-block btn-raised btn-danger" %>
  </div>
  <% end %>
  <div class="col-sm-12 col-md-6" style="padding:2px">
    <div class="dropdown">
      <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Listings
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Places', pages_friends_rewards_path %></li>
          <li><%= link_to 'Ecommers', pages_ecommers_friends_rewards_path %></li>
        </ul>
      </div>
      <br>
    </div>
    <div class="col-sm-12 col-md-6" style="padding:2px">
     <div class="dropdown">
      <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rewards
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><%= link_to 'All Friends Rewards', pages_friends_rewards_path %></li>
          <% FriendsReward.all.each do |reward| %>
          <li>
            <%= link_to reward.name, pages_friends_rewards_path(friends_reward: reward.name) %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>