<div class="col-sm-12 col-md-12" style="padding:0">
  <div class="col-sm-12 col-md-2" style="padding:0">
    <h6 style="text-align:left">Search for a place</h6>
  </div>
  <%= search_form_for @search, url: pages_places_path do |f| %>
  <div class="col-sm-12 col-md-7" style="padding:0">
    <div class="form-group" style="margin-bottom: 0; background: rgba(255,255,255,1); color:black;">
      <%= f.text_field :business_name_or_operating_address_cont, class: "form-control" %>
    </div>
    <br>
</div>
<div class="col-xs-12 col-sm-12 col-md-1" style="padding:0"><%= f.submit "Search", class: "btn btn-raised btn-block btn-primary" %>
</div>
<% end %>
<div class="col-xs-12 col-sm-12 col-md-2 text-right">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter by
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><center><h5><%= sort_link(@search, :business_name, 'A-Z', default_order: :asc) %></h5></center></li>
              <li><center><h5><%= sort_link(@search, :business_name, 'Z-A', default_order: :desc) %></h5></center></li>
              <li><center><h5><%= sort_link(@search, :created_at, 'Recent', default_order: :desc) %></h5></center></li>
              <li><center><h5><%= sort_link(@search, :created_at, 'Oldest', default_order: :asc) %></h5></center></li>
            </ul>
          </div>
        </div>
</div>