<div id="page" class="page">
 <div class="pixfort_normal_1 pix_builder_bg" id="section_header_3">
  <div class="header_style header_nav_1">
    <div class="container">
      <div class="sixteen columns firas2">
        <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg pix_nav_1">
          <div class="containerss">
            <div class="navbar-header">
              <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <%= link_to "Halalfoodhunt.com", root_path, class: 'navbar-brand' %>
            </div>
            <div id="navbar-collapse-02" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active propClone"><a href="#">Get Friends Card</a></li>
                <li class="propClone"><a href="#">Rewards</a></li>
                <li class="propClone"><a class="" href="#"><span class="pix_header_button pix_builder_bg">Login</span></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
      </div>
    </div><!-- container -->
  </div>
</div>
<div class="pixfort_normal_1 creative_video_header" id="section_pix_4">
  <div class="has-video creative_header">
    <div class="mask"></div>
    <div class="pix_video_div section_video">
      <video autoplay="" poster="images/video/video_bg.jpg" class="bgvid" loop="" muted="">
        <source src="http://friends.jumaiyah.com/wp-content/uploads/2017/01/230216-COLOR_FULL_CLIPCHAMP_keep_CLIPCHAMP_keep.mp4" type="video/mp4">
        </video>
      </div>
      <div class="section_wrapper clearfix">
        <div class="container">
          <div class="sixteen columns context_style">
            <div class="title_style">The only card a halal foodie needs. <br>Be rewarded for choosing halal!</div>
            <div class="subtitle_style">
              <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/01/card.png"></img><br>
              <span class="creative_h_text">
                <span class="editContent" style=""><span class="pix_text" rel="">With the FRIENDS with halalfoodhunt.com Rewards Card, you will unlock up to 20% discounts off your bill at more than 80 halal places in Singapore. We jio you to exclusive makan sessions too!</span></span>
              </span>
            </div>
            <center>
              <a href="#" class="main_button pix_text">
                <span class="editContent">SIGN UP</span>
              </a>
            </center><br>
          </div>
        </div><!-- container -->
      </div>
    </div>
  </div>
  <div id="hidden_pix_1" class="confirm_page confirm_page_1 pix_builder_bg">
    <div class="pixfort_normal_1">
      <div class="confirm_logo">
        <span class="conf_img">
          <img src="images/video/confirm1.png" alt="">
        </span>
      </div>
      <div class="confirm_header">
        <span class="editContent">
          <span class="pix_text">THANK YOU FOR SUBSCRIPTION</span>
        </span>
      </div>
      <div class="confirm_text">
        <span class="editContent">
          <span class="pix_text">Our service is astonishingly thin and light.</span>
        </span>
      </div>
      <div class="confirm_social">
        <div class="confirm_social_box pix_builder_bg">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="pixfort" data-count="none">Tweet</a>
          <span class="confirm_gp">
            <span class="g-plusone " data-size="medium" data-annotation="none"></span>
          </span>
          <div class="fb-like" data-href="http://themeforest.net/item/flatpack-landing-pages-pack-with-page-builder/10591107" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_pointer" pix-name="video"></div>
  <div class="pixfort_agency_14" id="section_agency_2">
    <div class="agency_st pix_builder_bg">
      <div class="container">
        <div class="sixteen columns">
         <div class="top_padding">
          <div class="one-third column alpha">
            <div class="part_st">
              <div class="img_st pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); box-shadow: none;" src="images/14_agency/icon-1.png"><img src="images/media/check-in-marker.png" alt="" style="width: 75px; height: 75px;"></div>
              <div class="text_agency_style">
                <span class="editContent" style=""><p class="agency_st">126</p></span>
                <span class="editContent" style=""><p class="agency_text">Verified Halal Places in Singapore to enjoy discounts</p></span>
              </div>
            </div>
          </div>
          <div class="one-third column ">
            <div class="part_st">
              <div class="img_st pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); box-shadow: none; " src="images/uploads/team.png"><img src="images/media/team.png" alt="" style="width: 75px; height: 75px;"></div>
              <div class="text_agency_style">
                <span class="editContent" style=""><p class="agency_st">1347</p></span>
                <span class="editContent" style=""><p class="agency_text">Current FRIENDS with Halalfoodhunt.com Cardholders</p></span>
              </div>
            </div>
          </div>
          <div class="one-third column  omega">
            <div class="part_st">
              <div class="img_st pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); box-shadow: none; border-color: rgb(231, 60, 37);" src="images/uploads/team.png"><img src="images/media/store.png" alt="" style="border-radius: 0px; border-color: rgb(105, 105, 105); border-style: none; border-width: 1px; width: 75px; height: 75px;"></div>
              <div class="text_agency_style">
                <span class="editContent"><p class="agency_st">3</p></span>
                <span class="editContent" style=""><p class="agency_text">Places to walk-in and get your card</p></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pixfort_hotel_5" id="section_hotel_4_1">
  <div class="Homes pix_builder_bg">
   <div class="container">
    <div class="sixteen columns">
      <span class="pix_text" style="color: rgb(51, 51, 51); font-size: 35px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-weight:600;" rel="">Where to enjoy your card?</span><br><br>
      <span class="editContent" style="font-weight:900; color:#e73c25; font-size:22px;"><p class="agency_text">Enjoy discounts at all these places!</p></span>
      <br>
      <div class="four columns alpha">
      <% @places.take(1).each do |place| %>
      <% unless place.friends_rewards_terms.blank? %>
      <div class="four columns alpha">
       <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover">
              <%= image_tag place.featured_image.url(:square) %>
            </div>
            <div class="user">
              <%= image_tag place.friends_reward.icon.url(:large) %>
            </div>
            <div class="content">
              <div class="main">
                <h6><%= link_to place_path(place) do %><strong><%= place.business_name %></strong><% end %></h6>
                <small class="profession"><i class="fa fa-map-marker"></i><%= place.operating_address %></small>
              </div>
            </div>
          </div> <!-- end front panel -->
          <div class="back">
            <div class="header">
              <h5 class="motto"></h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center"><%= place.friends_reward.name %></h4>
                <hr>
                <small class="text-center"><%= place.friends_rewards_terms %></small><br><br>
                <h6><%= link_to place_path(place), class:"btn_normal padding_5" do %><strong>View Merchant Details</strong><% end %></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      </div>
      <div class="four columns alpha">
       <% @places.take(2).each do |place| %>
      <% unless place.friends_rewards_terms.blank? %>
      <div class="four columns alpha">
       <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="cover">
              <%= image_tag place.featured_image.url(:square) %>
            </div>
            <div class="user">
              <%= image_tag place.friends_reward.icon.url(:large) %>
            </div>
            <div class="content">
              <div class="main">
                <h6><%= link_to place_path(place) do %><strong><%= place.business_name %></strong><% end %></h6>
                <small class="profession"><i class="fa fa-map-marker"></i><%= place.operating_address %></small>
              </div>
            </div>
          </div> <!-- end front panel -->
          <div class="back">
            <div class="header">
              <h5 class="motto"></h5>
            </div>
            <div class="content">
              <div class="main">
                <h4 class="text-center"><%= place.friends_reward.name %></h4>
                <hr>
                <small class="text-center"><%= place.friends_rewards_terms %></small><br><br>
                <h6><%= link_to place_path(place), class:"btn_normal padding_5" do %><strong>View Merchant Details</strong><% end %></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      </div>
      <center>
        <a href="#" class="main_button pix_text">
          <span class="editContent">VIEW MORE REWARDS</span>
        </a>
      </center>
    </div>
  </div>
</div>