<%= render 'layouts/header' %>
<div style="padding-left:0; padding-right:0; padding-top:60px;" class="container-fluid index">
  <div class="col-md-12 cover">
    <div class="col-md-8 col-md-offset-2">
      <div class="text-center">
        <h2 class="form-subtitle" style="color:white; padding-top:150px;">Discover Halal Food Places in Singapore</h2>
        <p style="color:white; font-style: oblique; font-weight:300;">Type what kind of food place you are looking below. Eg. East, Thai.</p><br>
        <%= render 'places/search_place' %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid index-more">
  <div class="col-md-10 col-md-offset-1">
    <div class="text-center"><h2 class="form-subtitle" style="margin:30px;">Looking for something else?</h2></div>
    <div class="col-xs-12 col-sm-3"><center><a href="http://www.halalfoodhunt.com/friends"><img class="img-responsive" src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/10/be-our-friend.jpg" alt="Chania"></a></center></div>
    <div class="col-xs-12 col-sm-3"><%= link_to places_path do %><center><img class="img-responsive" src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/10/food-delivery.png" alt="Chania"></center><% end %></div>
    <div class="col-xs-12 col-sm-3"><%= link_to places_path do %><center><img class="img-responsive" src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/10/reservations.png" alt="Chania"></center><% end %></div>
    <div class="col-xs-12 col-sm-3"><%= link_to new_merchant_registration_path do %><center><img class="img-responsive" src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/10/be-a-merchant.jpg" alt="Chania"></center><% end %></div>
  </div>
</div>
<div class="container-fluid friends">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-xs-12 col-sm-12 col-md-6 ipad">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="400" height="225" src="https://www.youtube.com/embed/6vm5SMkohOk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <h2 class="form-subtitle" style="color:white;">OUR FRIENDS GET BENEFITS!</h2>
      <p style="color:white;">We are super thankful and grateful to our supporters all these while. So we give thanks by scouring around halal food places for rewards and discounts for our supporters turned friends! One card to eat them all.</p>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <a class="btn btn-block btn-material-teal" href="http://friends.halalfoodhunt.com" style="color:white;" role="button">Let's be FRIENDS!</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <%= link_to "See Rewards", friends_rewards_path, :class => "h6 btn btn-block btn-danger", :style => 'color:#fff;' %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid index-more">
  <div class="text-center"><h2 class="form-subtitle" style="margin: 30px 0 10px 0;">View Makan Places Listed With Us</h2>
    <p class="subtitle">All these places are updated and verified by us.<br>So, you won't be wondering if these places are halal, or still open even.
    </p>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="scroller">
      <%= render "places/place" %>
    </div>
    <center>
     <%= link_to "View makan places listed with us", places_path, :class => "h6 btn btn-default btn-danger", :style => 'color:#fff;' %>
   </center>
 </div>
</div>
<div class="container-fluid articles">
  <div class="text-center"><h2 class="form-subtitle" style="margin: 30px 0 10px 0; color:white;">Tips & Articles</h2>
    <p class="subtitle" style="color:white;">Get to know the individuals behind your favourite makan places, guides on where to eat, cooking recipes, and more.</p>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="scroller">
      <% @featured_articles.each do |f| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div style="padding:0px; height:280px;" class="thumbnail">
          <%= image_tag f.featured_image.url(:medium), :class => "img_responsive" %>
          <div class="caption">
            <div class="media">
              <div class="media-body">
                <center><h5 class="media-heading"><%= link_to f.title %></h5>
                  <p><%= link_to "Read Article", raw(f.article_url), :class => "h6 btn btn-default btn-success", :style => 'color:#fff;' %></p>
                </center></div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <center>
        <a href="http://www.sifted.halalfoodhunt.com" class="btn btn-lg btn-raised btn-material-red" role="button">Read Articles</a>
      </center>
    </div>
  </div>
  <div class="container-fluid testimonial">
    <div class="col-md-10 col-md-offset-1">
      <div class="text-center"><h2 class="form-subtitle">Testimonials</h2>
        <div class="single">
          <% @users_testimonials.each do |users_testimonial| %>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <center><h4><%= image_tag users_testimonial.photo.url(:medium), :class => "media-object img-circle" %></h4>
              <h4 class="form-subtitle"><%= users_testimonial.name %></h4>
              <h5 class="form-subtitle" style="color:white;"><%= users_testimonial.testimonial %></h5></center>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-inverse">
      <div class="container">
       <ul class="nav navbar-nav navbar-right">
        <li><a href="http://sg.halalfoodhunt.com/corporate">Corporate Services</a></li>
        <li><a href="http://halalfoodhunt.com/how-to-list-on-halalfoodhunt-com/">Merchant Listing</a></li>
        <li><a href="http://halalfoodhunt.com/terms-of-use/">Terms of Use</a></li>
        <li><a href="http://halalfoodhunt.com/privacy-policy/">Privacy Policy</a></li>
        <li><a href="http://halalfoodhunt.com/feedback/">Feedback</a></li>
        <li><a href="http://halalfoodhunt.com/friends">Friends</a></li>
      </ul>
    </div>
  </nav>
