<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/merchant_sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding:0;">
      <%= render 'layouts/topbar' %>
      <div class="col-md-10 col-md-offset-1" style="background:white; border:1px solid #ccc; padding:10px; margin-bottom:20px;">
        <center><h4 class="header">WHAT ARE YOU?</h4><p class="italic-font">Choose the most suitable category that first represents your business for our users to easily. After selecting a category, you will then be directed to a registration form for you to tell our users more about yourself. Welcome to halalfoodhunt.com!</p></center>
      </div>
      <div class="col-md-10 col-md-offset-1" style="margin-bottom:20px;">
        <div class="col-xs-12 col-sm-6 col-md-3"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/places.jpg" class="img-responsive" alt="Responsive image">
        <%= link_to 'Select', new_place_path, :class=>"btn btn-places btn-block btn-lg" %></div>
        <div class="col-xs-12 col-sm-6 col-md-3"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/FOOD.jpg" class="img-responsive" alt="Responsive image">
        <%= link_to 'Select', new_food_delivery_path, :class=>"btn btn-delivery btn-block btn-lg" %></div>
        <div class="col-xs-12 col-sm-6 col-md-3"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/ecommers.jpg" class="img-responsive" alt="Responsive image">
        <%= link_to 'Select', new_ecommer_path, :class=>"btn btn-ecommer btn-block btn-lg" %></div>
        <div class="col-xs-12 col-sm-6 col-md-3"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/caterer.jpg" class="img-responsive" alt="Responsive image">
        <%= link_to 'Select', new_caterer_path, :class=>"btn btn-caterer btn-block btn-lg" %></div>
      </div>
      <div class="col-md-10 col-md-offset-1" style="margin-bottom:20px;">
        <div class="col-md-3"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/Supermarket.jpg" class="img-responsive" alt="Responsive image">
        <%= link_to 'Select', new_supermarket_path, :class=>"btn btn-supermarket btn-block btn-lg" %></div>
        <div class="col-md-3"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/ONLINE-GROCER.jpg" class="img-responsive" alt="Responsive image">
        <%= link_to 'Select', new_online_grocer_path, :class=>"btn btn-grocer btn-block btn-lg" %></div>
        <div class="col-md-3"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/ACADEMY.jpg" class="img-responsive" alt="Responsive image">
        <%= link_to 'Select', new_lesson_path, :class=>"btn btn-academy btn-block btn-lg" %></div>
        <div class="col-md-3"><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/Supplier.jpg" class="img-responsive" alt="Responsive image">
        <%= link_to 'Select', new_supplier_path, :class=>"btn btn-supplier btn-block btn-lg" %></div>
      </div>
    </div>
  </div>
</div>
