<div class="container-fluid">
	<div class="row">
		<div style="padding:0; background:none;" class="col-md-12" id="left-friend">
			<div class="sign-up-left"></div>
		</div>
		<div class="col-md-12 container padding-55" id="right-friend" style="background:#fff;" >
			<h3>Welcome!</h3>
			<h5><br>Thank you for applying the FRIENDS Card.<br><br> We are excited to get you onboard.</h5>
			<p>Before purchasing our FRIENDS Card, you'll need to...</p>
			<li>Create an account</li>
			<li>Submit registration details for the FRIENDS Card</li>
			<br>
			 <%= bootstrap_form_for(resource, as: resource_name, url: friends_registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field">
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </div>
        <br>
        <p>By creating an account, you agree to our <a href="#">terms.</a></p>
			<%= f.submit 'Continue', :class => 'btn btn-block btn-primary' %><br>
			<p>Have an account? <%= render "devise/shared/links" %></p>
			<% end %>
		</div>
	</div>
</div>