<div class="container-fluid">
	<div class="row">
		<div style="padding:0; background:none;" class="col-md-12" id="left-friend">
			<div class="sign-in-left"></div>
		</div>
		<div class="col-md-12 container padding-55" id="right-friend" style="background:#fff;" >
			<h3>FRIENDS LOGIN</h3>
			<h5><br>Login here if you already have an account with us!</h5>
			<br>
			 <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
      <div class="actions">
        <%= f.submit "Log in", :class => 'btn btn-block btn-raised btn-primary' %>
      </div>
      <% end %>
      <hr>
      <p><center><%= render "devise/shared/links" %></center></p>
		</div>
	</div>
</div>