<%= render 'layouts/category_header' %>
<div class="container-fluid caterers" style="margin-top:50px; padding:10px 0 10px 0;">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <center><h4 style="color:#ffffff; text-shadow: 1px 2px 1px rgba(0, 0, 0, 1); text-transform:uppercase; line-height:1.5em;"><b>Academy:</b> <br>Learn to create food from them who are teaching</h4>
    </center>
   </div>
 </div>
 <div class="container-fluid" style="padding:0;">
   <div class="col-xs-12 col-sm-12 col-md-12" style="padding:10px 0 10px 0; background:#f8f3f0; border-bottom:1px solid #ccc;">
    <%= render 'advanced_search' %>
  </div>
</div>
<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="col-xs-12 col-sm-12 col-md-10"><h5 style="padding:20px 0">SHOWING <b><%= @lessons.count %></b> ONLINE GROCERS IN ALL CITIES, SINGAPORE</h5></div>
    <div class="col-xs-12 col-sm-12 col-md-2 text-right" style="margin-top:20px;">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter by
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><center><h5><%= sort_link(@search, :brand_name, 'A-Z', default_order: :asc) %></h5></center></li>
            <li><center><h5><%= sort_link(@search, :brand_name, 'Z-A', default_order: :desc) %></h5></center></li>
            <li><center><h5><%= sort_link(@search, :created_at, 'Recent', default_order: :desc) %></h5></center></li>
            <li><center><h5><%= sort_link(@search, :created_at, 'Oldest', default_order: :asc) %></h5></center></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12">
    <%= render 'lessons' %>
</div>