<%= render 'layouts/header' %>
<div style="padding-left:0; padding-right:0; height:500px; background:#22211d" class="container-fluid">
  <center><%= image_tag @lesson.featured_image.url(:large), :class => "img-responsive", :style =>"width:100%;" %>
  </center>
</div>
<div class="container-fluid show-bg" style="padding-bottom:50px;">
  <div class="container form-style">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7">
         <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag @lesson.logo.url(:medium), :class => "media-object img-circle" %>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading title"><%= @lesson.brand_name %></h4>
          <table class="table table-striped">
            <thead>
              <tr><% unless @lesson.preferred_contact.blank? %><td><p><i class="fa fa-map-marker"></i> <%= @lesson.preferred_contact %></p></td><% end %></tr>
              <% unless @lesson.general_email.blank? %><tr style="border-top:#ccc solid 1px"><td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/envelope.png" title="Email" width="16"> <%= @lesson.general_email %></p></td></tr><% end %>
              <tr style="border-top:#ccc solid 1px"><td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/phone-call.png" title="Email" width="16"> +65  <%= @lesson.general_contact_number %></p></td></tr>
              <% unless @lesson.website.blank? %><tr style="border-top:#ccc solid 1px">
              <td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/house.png" title="Monitor" width="16"> <%= link_to @lesson.website, "#{@lesson.website}" %></p></td></tr><% end %>
              <tr style="border-top:#ccc solid 1px"><td><p>Social sites: <% unless @lesson.facebook.blank? %><%= link_to @lesson.facebook do %><i class="fa fa-facebook-official"></i><% end %><% end %>
                <% unless @lesson.instagram.blank? %><%= link_to @lesson.instagram do %><i class="fa fa-instagram"></i><% end %><% end %></p></td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <% unless @lesson.friends_rewards_terms.blank? %>
        <div class="container-fluid" style="border:#ccc solid 1px; padding:10px;">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="avatar">
              <center><%= image_tag @lesson.friends_reward.icon.url(:medium), :class => "img-circle img_responsive" %></center>
            </div>
            <center><a href="http://www.halalfoodhunt.com/friends" class="btn btn-raised btn-primary" role="button">Be a FRIEND</a>
            </center>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-9">
            <h4 class="form-subtitle" style="color:#044E2E">Friends Card Holders Only</h4>
            <p><%= @lesson.friends_rewards_terms %></p>
          </div>
        </div>
        <% end %>
        <h4 class="form-subtitle" style="color:#D04E2E;">FAQ</h4>
            <h5 class="question">What type of food do you make and which are the highly recommeneded ones? What is the price range of the main items on your menu?</h5>
            <p><%= h(@lesson.question_1).gsub(/\n/, '<br>').html_safe %></p>
            <h5 class="question">How do I place an order with you?</h5>
            <p><%= h(@lesson.question_2).gsub(/\n/, '<br>').html_safe %></p>
            <h5 class="question">How will my order reach me? Do you provide delivery services and what are the charges?</h5>
            <p><%= h(@lesson.question_3).gsub(/\n/, '<br>').html_safe %></p>
      </div>  
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="container-fluid" style="border:#ccc solid 1px;">
          <h4 class="title">Preferred Order Method</h4>
          <p></p>
        </div>
        <br>
       <p></p>
        <div class="row">
          <div class="col-xs-6">
            <%= image_tag @lesson.image.url(:square), :class => "img-thumbnail" %><br><br>
            <%= image_tag @lesson.image_2.url(:square), :class => "img-thumbnail" %>
          </div>
          <div class="col-xs-6">
           <%= image_tag @lesson.image_3.url(:square), :class => "img-thumbnail" %><br><br>
           <%= image_tag @lesson.image_4.url(:square), :class => "img-thumbnail" %>
         </div>
       </div>
       <br>
       <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
        <h4 class="title">Establishment Type</h4>
        <div class="col-xs-6 col-md-6"><p></p></div>
      </div>
      <br>
      <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
        <h4 class="title">Lesson Types</h4>
        <% @lesson.lesson_types.each do |lesson_type| %>
        <div class="col-xs-6 col-md-6"><p><%= image_tag lesson_type.icon.url(:thumb) %> <%= lesson_type.name %></p></div>
        <% end %>
      </div>
       <br>
      <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
        <h4 class="title">Class Types</h4>
        <% @lesson.class_types.each do |class_type| %>
        <div class="col-xs-6 col-md-6"><p><%= image_tag class_type.icon.url(:thumb) %> <%= class_type.name %></p></div>
        <% end %>
      </div>
       <br>
      <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
        <h4 class="title">Culinary Skill </h4>
        <% @lesson.cilnary_skills.each do |culinary_skill| %>
        <div class="col-xs-6 col-md-6"><p><%= image_tag culinary_skill.icon.url(:thumb) %> <%= culinary_skill.name %></p></div>
        <% end %>
      </div>
       <br>
    </div>
  </div>
</div>