<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @lesson.brand_name %>
</p>

<p>
  <strong>General contact number:</strong>
  <%= @lesson.general_contact_number %>
</p>

<p>
  <strong>General email:</strong>
  <%= @lesson.general_email %>
</p>

<p>
  <strong>Preferred contact:</strong>
  <%= @lesson.preferred_contact %>
</p>

<p>
  <strong>Preferred sign up method:</strong>
  <%= @lesson.preferred_sign_up_method %>
</p>

<p>
  <strong>String:</strong>
  <%= @lesson.string %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @lesson.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @lesson.instagram %>
</p>

<p>
  <strong>Website:</strong>
  <%= @lesson.website %>
</p>

<p>
  <strong>Question 1:</strong>
  <%= @lesson.question_1 %>
</p>

<p>
  <strong>Question 2:</strong>
  <%= @lesson.question_2 %>
</p>

<p>
  <strong>Question 3:</strong>
  <%= @lesson.question_3 %>
</p>

<p>
  <strong>Question 4:</strong>
  <%= @lesson.question_4 %>
</p>

<p>
  <strong>Question 5:</strong>
  <%= @lesson.question_5 %>
</p>

<p>
  <strong>Delivery link:</strong>
  <%= @lesson.delivery_link %>
</p>

<p>
  <strong>Delivery terms:</strong>
  <%= @lesson.delivery_terms %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @lesson.draft %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @lesson.expiry_date %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @lesson.merchant_id %>
</p>

<p>
  <strong>Friends rewards terms:</strong>
  <%= @lesson.friends_rewards_terms %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @lesson.verified %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
