<div class="modal-body">
  <%= bootstrap_form_for(@food_item) do |f| %>
  <div class="modal-body">
    <% if @food_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_item.errors.count, "error") %> prohibited this food item from being saved:</h2>
      <ul>
        <% @food_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= f.text_field :name %>
    </div>
    <div class="modal-footer">
     <%= f.submit :class => "btn btn-block btn-raised btn-danger" %>
     <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
   </div>
 </div>
 <% end %>
</div>