<div class="modal-body">
  <%= bootstrap_form_for(@places_menu) do |f| %>
  <div class="modal-body">
     <% if @places_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@places_menu.errors.count, "error") %> prohibited this places_menu from being saved:</h2>
      <ul>
      <% @places_menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
    <div class="modal-footer">
     <%= f.submit :class => "btn btn-block btn-raised btn-danger" %>
     <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
   </div>
 </div>
 <% end %>
</div>