<% if @subscription.plan.present? %>
<center><h3>CONGRATULATIONS! YOU’RE SUBSCRIBED!</h3>
  <p>You're currently subscribed to the <strong><%= @subscription.plan.name %></strong> plan.</p></center><br>
  <h5>Do you need any business add-ons?</h5>
  <%= render "comments/form" %>
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th><center>Your Current Plan</center></th>
        <th><center>No. of Listings Available</center></th>
        <th><center>Payment Details</center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><center><strong><%= @subscription.plan.name %></strong> <br><%= link_to 'Upgrade Your Plan', edit_owner_subscription_path(@owner, @subscription), class: 'btn btn-primary' %></center></td>
        <td><center><p><strong>2</strong></p><%= link_to 'Get started', main_app.new_listing_path, class: 'btn btn-primary' %></center></td>
        <td><center><p>Your card no. ends with <%= @subscription.last_four %>.</p> <%= link_to 'Update Details', edit_owner_subscription_path(@owner, @subscription, update: 'card'), class: 'btn btn-primary' %></center></td>
      </tr>
    </tbody>
  </table>
</center>
<% else %>
<h2>No Subscription</h2>
<p>You are not subscribed to a paid plan.</p>
<%= link_to 'Choose A Plan', edit_owner_subscription_path(@owner, @subscription), class: 'btn' %>
<% end %>
