<div class="col-md-10 col-md-offset-1" style="margin-bottom:20px;">
  <center><h4><strong>Welcome to halalfoodhunt.com’s Merchant's dashboard!</strong></h4>
    <p>The information you put in here will determine what your hungry customers will read about your place. Give them the right information to help them decide where to eat!</p>
  </center>
  <div class="col-xs-12 col-md-4"><h4>1.</h4><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/1.png" alt="step 1" class="img-circle"><center><h5><strong>This is a <%= current_merchant.plan.name %> PLAN.</strong></h5><p>You may upgrade your plan.</p></center></div>
  <div class="col-xs-12 col-md-4"><h4>2.</h4><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/3.png" alt="step 1" class="img-circle"><center><h5><strong>Select the type of establishment.</strong></h5><p>Select the type of establishment that you want to list with halalfoodhunt.com.</p></center></div>
  <div class="col-xs-12 col-md-4"><h4>3.</h4><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/2.png" alt="step 1" class="img-circle"><center><h5><strong>Fill in the form and publish!</strong></h5><p>Hooray! Your listing is published. Wait for your listing to be verified by halalfoodhunt.com</p></center>
  </div>
  <div class="row">
    <% @plans.each do |plan| %>
    <div class="col-xs-6 col-sm-3 <%= 'plan-primary' if plan.highlight? %>">
      <div class="box" style="border:2px solid #ccc;">
        <center>
          <h3 style="color:#EF6C3D"><%= plan.name %></h3>
          <h4 style="color:#3e414a; font-weight:700;">SGD<%= number_to_currency plan.price, :precision => 0 %><br>Per Month</h4>
          <p>
            <% if Koudoku.free_trial? %>
            <%= Koudoku.free_trial_length %>-day Free Trial
            <% end %>
            <%= BlueCloth.new(plan.features.gsub(/\n/, "\n\n")).to_html.gsub(/<(\/?)p>/, '<\1p>').html_safe %>
          </p>
        </center>
        <% if @subscription.nil? %>
        <%= link_to Koudoku.free_trial? ? 'Start Trial' : 'Sign Up', koudoku.new_subscription_path(plan: plan.id), class: "btn btn-delivery btn-block" %>
        <% elsif @subscription.persisted? %>
        <% if @subscription.plan == plan %>
        <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
        <%= f.submit 'Selected', class: "btn btn-block", disabled: 'disabled' %>
        <% end %>
        <% else %>
        <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
        <%= f.hidden_field :plan_id, value: plan.id %>
        <%= f.submit @subscription.describe_difference(plan), class: "btn btn-delivery btn-block" %>
        <% end %>
        <% end %>
        <% else %>
        <%= link_to Koudoku.free_trial? ? 'Start Trial' : 'Upgrade', new_owner_subscription_path(@owner, plan: plan.id), class: "btn btn-delivery btn-block" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <script>
  $(function() {
    $('.box').matchHeight();
  });
  </script>