<div class="col-md-10 col-md-offset-1" style="margin-bottom:20px;">
    <center><p>Start subscribing to your selected plan below.</p>
  </center>
  <div class="row">
    <% @plans.each do |plan| %>
    <div class="col-xs-12 col-sm-12 col-md-3 <%= 'plan-primary' if plan.highlight? %>">
      <div class="box" style="border:2px solid #ccc;">
        <center>
          <h3 style="color:#cc3333; text-transform:uppercase;"><%= plan.name %></h3>
          <h4 style="color:#3e414a; font-weight:400;">SGD<%= number_to_currency plan.price, :precision => 0 %><br>Per Year</h4>
          <p>
            <% if Koudoku.free_trial? %>
            <%= Koudoku.free_trial_length %>-day Free Trial
            <% end %>
            <%= BlueCloth.new(plan.features.gsub(/\n/, "\n\n")).to_html.gsub(/<(\/?)p>/, '<\1p>').html_safe %>
          </p>
        </center>
        <% if @subscription.nil? %>
        <%= link_to Koudoku.free_trial? ? 'Start Trial' : 'Sign Up', koudoku.new_subscription_path(plan: plan.id), class: "btn btn-delivery btn-block" %>
        <% elsif @subscription.persisted? %>
        <% if @subscription.plan == plan %>
        <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
        <%= f.submit 'PAID PLAN', class: "btn btn-block", disabled: 'disabled' %>
        <% end %>
        <% else %>
        <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
        <%= f.hidden_field :plan_id, value: plan.id %>
        <%= f.submit @subscription.describe_difference(plan), class: "btn btn-delivery btn-block" %>
        <% end %>
        <% end %>
        <% else %>
        <%= link_to Koudoku.free_trial? ? 'Start Trial' : 'Upgrade', new_owner_subscription_path(@owner, plan: plan.id), class: "btn btn-delivery btn-block" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>