  <div class="row">
<% @plans.each do |plan| %>
<div class="col-xs-6 col-sm-3 plan <%= 'plan-primary' if plan.highlight? %>">
  <div class="box plan">
  <center>
  <h3><%= plan.name %></h3>
  <h4><%= number_to_currency plan.price, :precision => 0 %>/Month</h4>
  <p>
    <% if Koudoku.free_trial? %>
    <%= Koudoku.free_trial_length %>-day Free Trial
    <% end %>
    <%= BlueCloth.new(plan.features.gsub(/\n/, "\n\n")).to_html.gsub(/<(\/?)p>/, '<\1p>').html_safe %>
  </p>
  </center>
    <% if @subscription.nil? %>
    <%= link_to Koudoku.free_trial? ? 'Start Trial' : 'Sign Up', koudoku.new_subscription_path(plan: plan.id), class: "btn btn-delivery btn-block" %>
    <% elsif @subscription.persisted? %>
    <% if @subscription.plan == plan %>
    <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
    <%= f.submit 'Selected', class: "btn btn-block", disabled: 'disabled' %>
    <% end %>
    <% else %>
    <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
    <%= f.hidden_field :plan_id, value: plan.id %>
    <%= f.submit @subscription.describe_difference(plan), class: "btn btn-delivery btn-block" %>
    <% end %>
    <% end %>
    <% else %>
    <%= link_to Koudoku.free_trial? ? 'Start Trial' : 'Upgrade', new_owner_subscription_path(@owner, plan: plan.id), class: "btn btn-delivery btn-block" %>
    <% end %>
  </div>
</div>
<% end %>
    </div>
<script>
$(function() {
    $('.box').matchHeight();
});
</script>