<p id="notice"><%= notice %></p>

<p>
  <strong>Business matching:</strong>
  <%= @business_add_on.business_matching %>
</p>

<p>
  <strong>Muslim owner collaboration:</strong>
  <%= @business_add_on.muslim_owner_collaboration %>
</p>

<p>
  <strong>Business advertising:</strong>
  <%= @business_add_on.business_advertising %>
</p>

<p>
  <strong>Business consultation:</strong>
  <%= @business_add_on.business_consultation %>
</p>

<p>
  <strong>Legal consulting:</strong>
  <%= @business_add_on.legal_consulting %>
</p>

<p>
  <strong>Digital communication:</strong>
  <%= @business_add_on.digital_communication %>
</p>

<p>
  <strong>Jumaiyah exclusive:</strong>
  <%= @business_add_on.jumaiyah_exclusive %>
</p>

<p>
  <strong>Offer friends rewards:</strong>
  <%= @business_add_on.offer_friends_rewards %>
</p>

<%= link_to 'Edit', edit_business_add_on_path(@business_add_on) %> |
<%= link_to 'Back', business_add_ons_path %>
