<div class="container-fluid merchant-sign-up">
  <div class="container container-table">
    <div class="row vertical-center-row">
      <div class="col-md-6 col-md-offset-3" style="padding:25px; box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22); background:rgba(255,255,255,0.6);">
          <p><center><img src="http://halalfoodhunt.com/wp-content/uploads/2016/03/HFFH_LOGO.png" alt="halalfoodhunt logo" class="img-rounded" style="width:100px; height:80px;"></center></p>
          <h3><center>FRIENDS SIGN UP</center></h3>
          <p><center>Create a FRIENDS account with us.</center>
          </p><hr>
        </center>
        <%= form_tag(new_order_path, method: "get") do %>
            <% @products.each do |product| %>
              <%= radio_button_tag(:product_id, product.id, class: "product_select")  %>
              <%= product.name %>
            <% end %>
              <div class="form-group col-md-12">
		           <%= label_tag(:friends_cards, "Quantity:") %>
		           <%= select_tag(:friends_cards, options_for_select(@friends_card_options, @friends_cards), class: "form-control") %>
              </div>
            <%= submit_tag "Continue", class: "btn btn-success col-md-4 col-md-offset-8" %>
          <% end %>
    </div>
  </div>
</div>
