<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @product.business_name %>
</p>

<p>
  <strong>General contact number:</strong>
  <%= @product.general_contact_number %>
</p>

<p>
  <strong>General email:</strong>
  <%= @product.general_email %>
</p>

<p>
  <strong>Operating address:</strong>
  <%= @product.operating_address %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @product.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @product.instagram %>
</p>

<p>
  <strong>Website:</strong>
  <%= @product.website %>
</p>

<p>
  <strong>Preferred contact:</strong>
  <%= @product.preferred_contact %>
</p>

<p>
  <strong>Preferred order method:</strong>
  <%= @product.preferred_order_method %>
</p>

<p>
  <strong>Question 1:</strong>
  <%= @product.question_1 %>
</p>

<p>
  <strong>Question 2:</strong>
  <%= @product.question_2 %>
</p>

<p>
  <strong>Delivery url:</strong>
  <%= @product.delivery_url %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @product.expiry_date %>
</p>

<p>
  <strong>Friends terms:</strong>
  <%= @product.friends_terms %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @product.merchant_id %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @product.draft %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @product.verified %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
