<% @suppliers.each do |supplier| %>
<div class="four columns alpha">
 <div class="card-container manual-flip">
  <div class="card">
    <div class="front">
      <div class="cover">
        <% if supplier.verified == true %>
        <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><%= image_tag(supplier.qualifying_type.icon.url(:square), :class => "img-responsive") %></span>
        <% else %>
        <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><img class="img-responsive" src="http://s3.amazonaws.com/international-hfh/verifying_types/icons/000/000/002/square/Listing_Icons_Artboard_12.png?1487060601" alt="Chania" style="width:40px; height:40px;"></span><% end %>
        <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:20%;">
          <% unless supplier.friends_rewards_terms.blank? %>
          <%= image_tag supplier.friends_reward.icon.url(:square), :class => "img-responsive" %>
          <% end %>
        </span>
        <%= link_to supplier_path(supplier) do %><%= image_tag supplier.featured_image.url(:square), :class => "img_responsive" %><% end %>
      </div>
      <div class="user">
        <%= image_tag supplier.logo.url(:medium), :class => "img-circle" %>
      </div>
      <div class="content">
        <label><strong><%= link_to supplier.business_name, supplier_path(supplier) %></strong></label>
        <p class="profession">
         <center>
      <p><i class="fa fa-map-marker"></i> <%= supplier.operating_address %></p>
      </center>
       </p>
     </div>
   </div> <!-- end front panel -->
 </div>
</div>
</div>
<% end %>