<% @suppliers.each do |supplier| %>
<div class="col-xs-12 col-sm-6 col-md-3">
  <% if supplier.verified == true %>
            <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><%= image_tag(supplier.qualifying_type.icon.url(:square), :class => "img-responsive") %></span>
            <% else %>
            <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><img class="img-responsive" src="http://s3.amazonaws.com/international-hfh/verifying_types/icons/000/000/002/square/Listing_Icons_Artboard_12.png?1487060601" alt="Chania" style="width:40px; height:40px;"></span><% end %>
            <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:20%;">
              <% unless supplier.friends_terms.blank? %>
              <%= image_tag supplier.friends_reward.icon.url(:square), :class => "img-responsive" %>
              <% end %>
            </span>
  <div style="padding:0px; height:280px; position:relative;" class="thumbnail">
    <%= image_tag supplier.featured_image.url(:medium), :class => "img_responsive" %>
    <div class="caption">
      <div class="media">
        <div class="media-left">
          <%= image_tag supplier.logo.url(:medium), :class => "img-circle-40" %>
        </div>
        <div class="media-body">
          <p class="media-heading"><b><%= link_to supplier.business_name, supplier_path(supplier) %></b></p>
          <p><%= image_tag supplier.supplier_type.icon.url(:thumb) %> <%= supplier.supplier_type.name %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>