<p id="notice"><%= notice %></p>

<h1>Listing Suppliers</h1>

<table>
  <thead>
    <tr>
      <th>Business name</th>
      <th>General contact number</th>
      <th>General email</th>
      <th>Operating address</th>
      <th>Facebook</th>
      <th>Instagram</th>
      <th>Website</th>
      <th>Preferred contact</th>
      <th>Preferred order method</th>
      <th>Question 1</th>
      <th>Question 2</th>
      <th>Delivery url</th>
      <th>Expiry date</th>
      <th>Friends terms</th>
      <th>Merchant</th>
      <th>Draft</th>
      <th>Verified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.business_name %></td>
        <td><%= supplier.general_contact_number %></td>
        <td><%= supplier.general_email %></td>
        <td><%= supplier.operating_address %></td>
        <td><%= supplier.facebook %></td>
        <td><%= supplier.instagram %></td>
        <td><%= supplier.website %></td>
        <td><%= supplier.preferred_contact %></td>
        <td><%= supplier.preferred_order_method %></td>
        <td><%= supplier.question_1 %></td>
        <td><%= supplier.question_2 %></td>
        <td><%= supplier.delivery_url %></td>
        <td><%= supplier.expiry_date %></td>
        <td><%= supplier.friends_terms %></td>
        <td><%= supplier.merchant_id %></td>
        <td><%= supplier.draft %></td>
        <td><%= supplier.verified %></td>
        <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
