<%= render 'layouts/header' %>
<div style="padding-left:0; padding-right:0; height:500px; background:#22211d" class="container-fluid">
  <center><%= image_tag @supplier.featured_image.url(:large), :class => "img-responsive", :style =>"width:100%;" %>
  </center>
</div>
<div class="container-fluid show-bg" style="padding-bottom:50px;">
  <div class="container form-style">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7">
       <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag @supplier.logo.url(:medium), :class => "media-object img-circle" %><br>
            <p>Social sites: <% unless @supplier.facebook.blank? %><%= link_to @supplier.facebook do %><i class="fa fa-facebook-official"></i><% end %><% end %>
              <% unless @supplier.instagram.blank? %><%= link_to @supplier.instagram do %><i class="fa fa-instagram"></i><% end %><% end %></p>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading title"><%= @supplier.business_name %> (<%= @supplier.qualifying_type.name %>)</h4>
            <table class="table table-striped">
              <thead>
                <tr><td><p><%= image_tag @supplier.supplier_type.icon.url(:thumb) %> <%= @supplier.supplier_type.name %></p></td></tr>
                <tr style="border-top:#ccc solid 1px"><% unless @supplier.operating_address.blank? %><td><p><i class="fa fa-map-marker"></i> <%= @supplier.operating_address %>, <%= image_tag @supplier.location.icon.url(:thumb) %> <%= @supplier.location.name %> </p></td><% end %></tr>
                <% unless @supplier.general_email.blank? %><tr style="border-top:#ccc solid 1px"><td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/envelope.png" title="Email" width="16"> <%= @supplier.general_email %></p></td></tr><% end %>
                <tr style="border-top:#ccc solid 1px"><td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/phone-call.png" title="Email" width="16"> +65  <%= @supplier.general_contact_number %></p></td></tr>
                <% unless @supplier.website.blank? %><tr style="border-top:#ccc solid 1px">
                <td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/house.png" title="Monitor" width="16"> <%= link_to @supplier.website, "#{@supplier.website}" %></p></td></tr><% end %>
              </thead>
            </table>
          </div>
        </div>
        <% unless @supplier.friends_terms.blank? %>
        <div class="container-fluid" style="border:#ccc solid 1px; padding:10px; background:#fff;">
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="avatar">
              <center><%= image_tag @supplier.friends_reward.icon.url(:medium), :class => "img-circle img_responsive" %></center>
            </div>
            <center><a href="http://www.halalfoodhunt.com/friends" class="btn btn-raised btn-primary" role="button">Be a FRIEND</a>
            </center>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-9">
            <h4 class="form-subtitle" style="color:#044E2E">Friends Card Holders Only</h4>
            <p><%= @supplier.friends_terms %></p>
          </div>
        </div>
        <% end %>
        <h4 class="form-subtitle" style="color:#D04E2E;">FAQ</h4>
        <h5 class="question">Are all the products marketed by you halal-certified?</h5>
        <p><%= h(@supplier.question_1).gsub(/\n/, '<br>').html_safe %></p>
        <h5 class="question">How do I place an order with you? Are there any minimum orders?</h5>
        <p><%= h(@supplier.question_2).gsub(/\n/, '<br>').html_safe %></p>
        <h5 class="question">How will my order reach me? Do you provide delivery services and what are the charges?</h5>
        <p><%= h(@supplier.question_3).gsub(/\n/, '<br>').html_safe %></p>
        <h5 class="question">Am I able to do a self-collection for my orders? If so, where?</h5>
        <p><%= h(@supplier.question_4).gsub(/\n/, '<br>').html_safe %></p>
        <h5 class="question">Please provide me links to reviews about you!</h5>
        <p><%= h(@supplier.question_5).gsub(/\n/, '<br>').html_safe %></p>
      </div>  
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="container-fluid" style="border:#ccc solid 1px;">
          <h4 class="title">Preferred Order Method</h4>
          <p><%= h(@supplier.preferred_order_method).gsub(/\n/, '<br>').html_safe %></p>
        </div>
        <br><br>
        <% unless @supplier.delivery_url.blank? %><p><%= link_to "Order NOW!", raw(@supplier.delivery_url), :class => "btn btn-block btn-raised btn-primary", :style => 'color:#fff;' %></p><% end %>
        <div class="row">
          <div class="col-xs-6">
            <%= image_tag @supplier.image.url(:square), :class => "img-thumbnail" %><br><br>
            <%= image_tag @supplier.image_2.url(:square), :class => "img-thumbnail" %>
          </div>
          <div class="col-xs-6">
           <%= image_tag @supplier.image_3.url(:square), :class => "img-thumbnail" %><br><br>
           <%= image_tag @supplier.image_4.url(:square), :class => "img-thumbnail" %>
         </div>
       </div>
       <br>
       <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
        <h4 class="title">Food Types</h4>
        <% @supplier.food_types.each do |food_type| %>
        <div class="col-xs-6 col-md-6"><p><%= image_tag food_type.icon.url(:thumb) %> <%= food_type.name %></p></div>
        <% end %>
      </div>
      <br>
      <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
        <h4 class="title">Supplier highlights</h4>
        <% @supplier.supplier_highlights.each do |highlight| %>
        <div class="col-xs-6 col-md-6">
          <p><%= image_tag highlight.icon.url(:thumb) %> <%= highlight.name %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>