<p id="notice"><%= notice %></p>

<h1>Listing Users Testimonials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Testimonial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_testimonials.each do |users_testimonial| %>
      <tr>
        <td><%= users_testimonial.name %></td>
        <td><%= users_testimonial.testimonial %></td>
        <td><%= link_to 'Show', users_testimonial %></td>
        <td><%= link_to 'Edit', edit_users_testimonial_path(users_testimonial) %></td>
        <td><%= link_to 'Destroy', users_testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users testimonial', new_users_testimonial_path %>
