 <div class="container-fluid admin_dashboard-full-height">
   <div class="row">
    <%= render 'layouts/admin_sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main-admin" style="padding:0;">
      <%= render 'layouts/topbar' %>
      <div style="color:white; margin-bottom:30px; border:#ccc solid 1px;" class="col-md-10 col-md-offset-1">
        <center>
          <h2 class="form-subtitle">Qualifying Types</h2>
          <p>Add and manage your qualifying types here! You may add as many qualifying types as you want.<br></p>
          <%= link_to 'New Qualifying Types', new_qualifying_type_path, remote: true, :class => 'btn btn-md btn-raised btn-primary' %>
        </center><br>
        <p id="notice"><%= notice %></p>
        </div>
        <div style="color:white; margin-bottom:30px;" class="col-md-10 col-md-offset-1">
        <table class="table table-responsive" style="background:#31313a">
          <thead>
            <tr>
              <th>Name</th>
              <th colspan="3"></th>
              <th>Halal Summary</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
           <%= render "index" %>
         </tbody>
       </table>
       <br>
     </div>
   </div>
 </div>
</div>
<div id="qualifying-type-modal" class="modal fade"></div>
