<div class="col-md-10 col-md-offset-1">
  <div class="col-xs-12 col-sm-12 col-md-2">
    <h6>SEARCH FOR A FOOD DELIVERY</h6>
  </div>
  <%= search_form_for @search do |f| %>
  <div class="col-xs-12 col-sm-12 col-md-4">
    <div class="form-group" style="margin-bottom: 0; background: rgba(255,255,255,1); color:black;">
      <%= f.text_field :brand_name_cont, class: "form-control" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-2">
    <%= f.collection_select(:cuisine_types_id_eq_any, CuisineType.all, :id, :name, {:include_blank => "Cuisine Types"}, {:class=>'form-control'}) %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-2">
    <%= f.collection_select(:food_delivery_types_id_eq_any, FoodDeliveryType.all, :id, :name, {:include_blank => "Dining Types"}, {:class=>'form-control'}) %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2">
        <%= f.submit "Search", class: "btn btn-raised btn-block btn-danger" %>
  </div>
  <% end %>
</div>