<%= bootstrap_form_for(@food_delivery) do |f| %>
  <% if @food_delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_delivery.errors.count, "error") %> prohibited this food_delivery from being saved:</h2>

      <ul>
      <% @food_delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:30px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>Upload Logo</strong></h5> <p>Provide a logo for your business so your customers can identify you. Providing a logo is necessary to build visual recognition for your brand.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <div class="media">
    <div class="media-left media-top">
      <%= image_tag(@food_delivery.logo.url(:large), :class => "img_circle", :style => "width:200px; height:200px;") %>
      <p><i>Dimension 250 by 250 pixels. JPEG or PNG files only.</i></p>
    </div>
    <div class="media-body">
      <div class="field">
       <p>Drag and drop or <%= f.file_field :logo, hide_label: true %> to upload logo<br><br><br><br><br><br><br><br><br></p>
     </div>
   </div>
 </div>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>SELECT THE REGION OF YOUR LISTING</strong></h5> <p>Pick the region of your halal food delivery service.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
   <%= f.collection_select :region_id, Region.all, :id, :name, autofocus: true, layout: :inline %>
 </div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>SELECT YOUR HALAL TYPE</strong></h5> <p>Do you provide food delivery for only Halal-Certified or Muslim-owned food?</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <%= f.collection_select :qualifying_type_id, QualifyingType.all, :id, :name, autofocus: true, layout: :inline %>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>Upload Verifying Documents</strong></h5> <p>For <u><strong>halal-certified</strong></u> businesses, please help us to verify your business by providing a copy or a photo of your MUIS certificate if you are halal-certified. <br><br>For <u><strong>Muslim-owned</strong></u> businesses, please upload a copy or a photo of your NRIC (front and back), your company’s Bizfile and your ROC. </p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <table class="table">
    <thead>
      <tr>
        <th colspan="6">File Name</th>
        <th>File Size</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag(@food_delivery.document_1.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @food_delivery.document_1_file_name %></td>
        <td><%= @food_delivery.document_1_file_size %></td>
        <td><%= f.file_field :document_1, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@food_delivery.document_2.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @food_delivery.document_2_file_name %></td>
        <td><%= @food_delivery.document_2_file_size %></td>
        <td><%= f.file_field :document_2, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@food_delivery.document_3.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @food_delivery.document_3_file_name %></td>
        <td><%= @food_delivery.document_3_file_size %></td>
        <td><%= f.file_field :document_3, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@food_delivery.document_4.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @food_delivery.document_4_file_name %></td>
        <td><%= @food_delivery.document_4_file_size %></td>
        <td><%= f.file_field :document_4, hide_label: true %></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>FILL IN YOUR LISTING DETAILS</strong></h5> <p>Please provide the relevant details to allow customers to maintain contact with your business easily. Accurate and comprehensive information will help you gain more credibility on your listings and help you to be more easily searchable.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
   <div class="field">
    <%= f.text_field :brand_name %>
  </div>
  <div class="field">
    <%= f.text_field :general_email %>
  </div>
  <div class="field">
    <%= f.text_area :contactable_hours %>
  </div>
  <div class="field">
    <%= f.text_field :general_contact_number %>
  </div>
  <div class="field">
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.text_field :instagram %>
  </div>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>TELL YOUR CUSTOMERS ALL THEY NEED TO KNOW ABOUT YOU</strong></h5> <p>Please provide comprehensive information so customers can get a better understanding about the delivery service that your business has to offer. Please provide your answers in full sentences to encourage search-ability and to give your customers a clear understanding of your services. </p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <div class="field">
    <%= f.text_area :question_1, label:'What type of food do you make and which are the highly recommended ones? What is the price range of the main items on your menu?', label_class:'question' %>
  </div>
  <div class="field">
    <%= f.text_area :question_2, label:'How do I place and order with you?', label_class:'question' %>
  </div>
  <div class="field">
    <%= f.text_area :question_3, label:'How will my order reach me? Do you provide delivery services and what are the charges?', label_class:'question' %>
  </div>
  <div class="field">
    <%= f.text_area :question_4, label:'Am I able to do a self-collection for my orders? If so, where?', label_class:'question' %>
  </div>
  <div class="field">
    <%= f.text_area :question_5, label:'Please provide me with links to reviews about you.', label_class: "question" %>
  </div>
</div>
</div>  
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>SELECT THE CATEGORIES THAT FIT YOU & SET YOUR PRICE RANGE</strong></h5> <p>Please pick out the categories that best represent your business. You can also set the price range of your main items so that customers can spend within their budget.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
   <%= f.select :food_delivery_type_ids, FoodDeliveryType.all.map{ |d| [d.name, d.id]}, {}, multiple: true, id: 'food-delivery-type', label: 'Food Delivery Type' %>
   <%= f.select :cuisine_type_ids, CuisineType.all.map{ |c| [c.name, c.id]}, {}, multiple: true, id: 'cuisine-type' %>
   <%= f.collection_select :price_range_id, PriceRange.all, :id, :price, autofocus: true, layout: :inline %>
 </div>
</div> 
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>UPLOAD A FEATURED IMAGE FOR YOUR LISTING</strong></h5> <p>Please upload an image of the kind of dishes that you deliver so that your customers can get a hint of what they can look forward to! </p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <div class="media">
    <div class="media-left media-top">
      <%= image_tag(@food_delivery.featured_image.url(:large), :class => "img_responsive", :style => "width:300px; height:180px;") %>
      <p><i>Dimension 800 by 600 pixels. JPEG files only.</i></p>
    </div>
    <div class="media-body">
      <div class="field">
       <p>Drag and drop or <%= f.file_field :featured_image, hide_label: true %> to upload logo<br><br><br><br><br><br><br><br><br></p>
     </div>
   </div>
 </div>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>Upload Gallery Images</strong></h5> <p>Please upload four images that showcase your food delivery service.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <table class="table">
    <thead>
      <tr>
        <th colspan="6">File Name</th>
        <th>File Size</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag(@food_delivery.image.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @food_delivery.image_file_name %></td>
        <td><%= @food_delivery.image_file_size %></td>
        <td><%= f.file_field :image, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@food_delivery.image_2.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @food_delivery.image_2_file_name %></td>
        <td><%= @food_delivery.image_2_file_size %></td>
        <td><%= f.file_field :image_2, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@food_delivery.image_3.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @food_delivery.image_3_file_name %></td>
        <td><%= @food_delivery.image_3_file_size %></td>
        <td><%= f.file_field :image_3, hide_label: true %></td>
      </tr>
      <tr>
        <td><%= image_tag(@food_delivery.image_4.url(:thumb), :class => "img_responsive", :style => "width:50px; height:33.5px;") %></td>
        <td colspan="6"><%= @food_delivery.image_4_file_name %></td>
        <td><%= @food_delivery.image_4_file_size %></td>
        <td><%= f.file_field :image_4, hide_label: true %></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>Friends Rewards</strong></h5> <p>Manage the FRIENDS rewards you’d like to offer to encourage their patronage. Your listing will automatically get a shout-out on our publicity pages when you offer a FRIENDS reward.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
   <%= f.collection_select :friends_reward_id, FriendsReward.all, :id, :name, autofocus: true, layout: :inline, :include_blank => 'No Rewards Offered' %>
  <%= f.text_area :friends_rewards_terms %>
</div>
</div>
<div class="col-md-12" style="background:#fff; border:1px solid #979797; margin:0px 0 30px 0; padding:0;">
 <div class="col-xs-6 col-md-4"><h5><strong>PROVIDE ADDITIONAL LINKS</strong></h5> <p>Add the link to your online ordering page so it’s more convenient for customers to order delivery.</p></div>
 <div class="col-xs-12 col-sm-6 col-md-8" style="background:#ededed; border-left:1px solid #979797; padding:30px;">
  <div class="field">
    <%= f.text_field :ordering_link, label:'Online Ordering Page Link' %>
  </div>
</div>
</div>
  <div class="field">
    <h5><strong>ARE YOU READY TO BE PUBLISHED?</strong></h5>
  <p>Not ready to publish yet? Tick this box if you’d like to save this listing as a draft. Make sure to un-tick this box once you’re ready to publish your listing!</p>
  <%= f.check_box :draft, label: 'Save as Draft' %>
</div>
<div class="actions" style="margin-bottom:20px;">
  <%= f.hidden_field :listing_id %>
  <%= f.submit :class => 'btn btn-md btn-raised btn-primary' %>
</div>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $('select#food-delivery-type').select2({
    placeholder: "Select food delivery types",
    allowClear: true
  });
});
$(document).ready(function() {
  $('select#cuisine-type').select2({
    placeholder: "Select cuisine types",
    allowClear: true
  });
});
</script>