<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= @food_delivery.brand_name %></h4>
      </div>
      <div class="modal-body">
        <div class="container form-style" style="margin-top:50px;">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7">
             <div class="media">
              <div class="media-left">
                <a href="#">
                  <%= image_tag @food_delivery.logo.url(:medium), :class => "media-object img-circle" %>
                </a>
                <p>Social sites: <% unless @food_delivery.facebook.blank? %><%= link_to @food_delivery.facebook do %><i class="fa fa-facebook-official"></i><% end %><% end %>
                  <% unless @food_delivery.instagram.blank? %><%= link_to @food_delivery.instagram do %><i class="fa fa-instagram"></i><% end %><% end %></p>
                </div>
                <div class="media-body">
                  <h4 class="media-heading title"><%= @food_delivery.brand_name %></h4>
                  <table class="table table-striped">
                    <thead>
                      <tr><% unless @food_delivery.contactable_hours.blank? %><td><p><i class="fa fa-clock-o"></i> <%= @food_delivery.contactable_hours %></p></td><% end %></tr>
                      <% unless @food_delivery.general_email.blank? %><tr style="border-top:#ccc solid 1px"><td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/envelope.png" title="Email" width="16"> <%= @food_delivery.general_email %></p></td></tr><% end %>
                      <tr style="border-top:#ccc solid 1px"><td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/phone-call.png" title="Email" width="16"> +65  <%= @food_delivery.general_contact_number %></p></td></tr>
                      <% unless @food_delivery.website.blank? %><tr style="border-top:#ccc solid 1px">
                      <td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/house.png" title="Monitor" width="16"> <%= link_to @food_delivery.website, "#{@food_delivery.website}" %></p></td></tr><% end %>
                    </thead>
                  </table>
                </div>
              </div>
              <% unless @food_delivery.friends_rewards_terms.blank? %>
              <div class="container-fluid" style="background: white; padding:10px; border:1px solid #ccc;">
                <div class="col-xs-12 col-sm-12 col-md-3">
                  <div class="avatar"><center><%= image_tag @food_delivery.friends_reward.icon.url(:medium), :class => "img-circle img_responsive" %></center>
                  </div>
                  <center>
                    <a href="http://www.halalfoodhunt.com/friends" class="btn btn-raised btn-primary" role="button">Be a FRIEND</a>
                  </center>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                  <h4 class="form-subtitle" style="color:#044E2E">Friends Card Holders Only</h4>
                  <p><%= @food_delivery.friends_rewards_terms %></p>
                </div>
              </div>
              <% end %><br>
              <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
                <h4 class="title">Food Delivery Type</h4>
                <% @food_delivery.food_delivery_types.each do |food_delivery_type| %>
                <div class="col-xs-6 col-md-6"><p><%= image_tag food_delivery_type.icon.url(:thumb) %> <%= food_delivery_type.name %></p>
                </div>
                <% end %>
              </div>
              <br>
              <% unless @food_delivery.food_items.blank? %>
              <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
                <h4 class="title">Food Items</h4>
                <% @food_delivery.food_items.each do |food_item| %>
                <div class="col-xs-6 col-md-6"><p><%= image_tag food_item.icon.url(:thumb) %> <%= food_item.name %></p>
                </div>
                <% end %>
              </div>
              <% end %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
              <% unless @food_delivery.qualifying_type.blank? %>
              <div class="container-fluid" style="background: white; padding:10px; border:1px solid #ccc;">
                <div class="col-xs-12 col-sm-12 col-md-3">
                  <div class="avatar"><center>
                    <% if @food_delivery.verified == true %>
                    <%= image_tag @food_delivery.qualifying_type.icon.url(:medium), :class => "img-circle img_responsive", :style => "height:80px; width:80px;" %>
                    <% else %>
                    <img class="img-responsive" src="http://s3.amazonaws.com/international-hfh/verifying_types/icons/000/000/002/medium/Listing_Icons_Artboard_12.png?1487220138" alt="Chania">
                    <% end %>
                  </center></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                  <h4 class="title">Halal Verification</h4>
                  <p><% if @food_delivery.verified == true %>
                    <%= @food_delivery.qualifying_type.halal_summary %>
                    <% else %>
                    This business has yet to submit documents for official verification.
                    <% end %>
                  </p>
                </div>
              </div>
              <% end %>
              <br>
              <p><%= link_to "Order NOW!", raw(@food_delivery.ordering_link), :class => "btn btn-block btn-raised btn-primary", :style => 'color:#fff;' %></p>
              <div class="row">
                <div class="col-xs-6">
                  <%= image_tag @food_delivery.image.url(:square), :class => "img-thumbnail" %><br><br>
                  <%= image_tag @food_delivery.image_2.url(:square), :class => "img-thumbnail" %>
                </div>
                <div class="col-xs-6">
                 <%= image_tag @food_delivery.image_3.url(:square), :class => "img-thumbnail" %><br><br>
                 <%= image_tag @food_delivery.image_4.url(:square), :class => "img-thumbnail" %>
               </div>
             </div>
             <br>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>