<div class="nested-fields">
	<div class="col-xs-12 col-sm-6 col-md-3" style="padding:0 5px 0 5px;">
		<%= f.collection_select :open_or_close_id, OpenOrClose.all, :id, :name, autofocus: true, layout: :inline, label: "Open/Close" %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3" style="padding:0 5px 0 5px;">
		<%= f.collection_select :day_id, Day.all, :id, :name, autofocus: true, layout: :inline %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3" style="padding:0 5px 0 5px;">
		<%= f.time_select :opening, label: "From" %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3" style="padding:0 5px 0 5px;">
		<%= f.time_select :closing, label: "To" %>
		<%= link_to_remove_association "Remove Opening Hour",  f, :opening_hours %>
	</div>
</div>