 <% @places.take(4).each do |place| %>
 <div class="four columns alpha">
   <div class="card-container">
    <div class="card">
      <div class="front">
        <div class="cover">
          <% if place.verified == true %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><%= image_tag(place.qualifying_type.icon.url(:square), :class => "img-responsive") %></span>
          <% else %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><img class="img-responsive" src="http://s3.amazonaws.com/international-hfh/verifying_types/icons/000/000/002/square/Listing_Icons_Artboard_12.png?1487060601" alt="Chania" style="width:40px; height:40px;"></span><% end %>
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:16%;"><%= image_tag place.place_type.icon.url(:square), :class => "img-responsive" %></span> 
          <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:28%;">
            <% unless place.friends_rewards_terms.blank? %>
            <%= image_tag place.friends_reward.icon.url(:square), :class => "img-responsive" %>
            <% end %>
          </span>
          <%= image_tag place.featured_image.url(:square) %>
        </div>
        <div class="user img-circle-40">
          <%= image_tag place.logo.url(:medium), :class => "img-circle-40" %>
        </div>
        <div class="content">
            <h6><strong><%= link_to place.business_name, place_path(place) %></strong></h6>
            <small class="profession"><i class="fa fa-map-marker"></i> <%= place.operating_address %></small>
        </div>
      </div> <!-- end front panel -->
    </div>
  </div>
</div>
<% end %>