<% @places.each do |place| %>
<div class="col-xs-12 col-sm-6 col-md-3">
  <% if place.verified == true %>
  <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><%= image_tag(place.qualifying_type.icon.url(:square), :class => "img-responsive") %></span>
  <% else %>
  <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:5%;"><img class="img-responsive" src="http://s3.amazonaws.com/international-hfh/verifying_types/icons/000/000/002/square/Listing_Icons_Artboard_12.png?1486459596" alt="Chania" style="width:40px; height:40px;"></span><% end %>
  <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:18%;"><%= image_tag(place.place_type.icon.url(:square), :class => "img-responsive") %></span>
  <span class="top-label" style="position:absolute; z-index:100; padding:5px; left:30%;">
    <% place.friends_rewards.each do |friends_reward| %>
    <%= image_tag place.friends_reward.icon.url(:square), :class => "img-circle img_responsive" %>
    <% end %>
    </span>
  <div style="padding:0px; height:320px; position:relative;" class="thumbnail">
    <%= image_tag place.featured_image.url(:large), :class => "img_responsive" %>
    <div class="caption">
      <div class="media">
        <div class="media-left">
          <%= image_tag place.logo.url(:medium), :class => "img-circle-40" %>
        </div>
        <div class="media-body">
          <h5 class="media-heading" style="text-transform:none;"><%= link_to place.business_name, place_path(place) %></h5>
          <p><i class="fa fa-map-marker"></i> <%= place.operating_address %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>