<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/admin_sidebar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main-admin" style="padding:0;">
      <%= render 'layouts/topbar' %>
      <div class="col-md-10 col-md-offset-1" style="color:white; border:1px solid #ccc; padding:10px; margin-bottom:20px;">
        <%= form_tag update_multiple_places_path, method: :put do %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h6>Business Namev</th>
          <th><h6>Halal Status</h6></th>
          <th><h6>Verify?</h6></th>
          <th><h6>Expiry Date</h6></th>
          <th><h6>Draft</h6></th>
        </tr>
      </thead>
      <tbody>
        <% @places.each do |place| %>
      <%= fields_for "places[]", place do |f| %>
      <% if place.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>
        <ul>
          <% place.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
        <tr>
          <td><%= place.business_name %></td>
          <td><%= f.collection_select :qualifying_type_id, QualifyingType.all, :id, :name, autofocus: true, layout: :inline %></td>
          <td><%= f.check_box :verified %></td>
          <td><%= f.date_select :expiry_date %></td>
          <td><%= f.check_box :draft %></td>
        </tr>
                          <% end %>
    <% end %>
      </tbody>
      </table>
    <div class="actions">
      <center><%= submit_tag "Update", class: 'btn btn-large btn-raised btn-primary' %></center>
    </div>

  </div>
  <% end %>
      </div>
    </div>
  </div>
</div>