<%= render 'layouts/header' %>
<div style="padding-left:0; padding-right:0; height:400px;" class="container-fluid">
  <div id="map" style="width:100%; height:400px;"></div>
  <script type="text/javascript">
  var map;
  var myCenter = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: myCenter,
      zoom: 15
    });
    var marker = new google.maps.Marker({
      position: myCenter,
      map: map,
    });
  }
  </script>
</div>
<div class="container-fluid show-bg" style="padding-bottom:50px;">
  <div class="container form-style">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag @place.logo.url(:medium), :class => "media-object img-circle" %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading title"><%= @place.business_name %> (<%= @place.qualifying_type.name %>)</h4>
            <table class="table table-striped">
              <thead>
                <tr><td><p><i class="fa fa-map-marker"></i> <%= @place.operating_address %></p></td></tr>
                <% unless @place.general_email.blank? %><tr style="border-top:#ccc solid 1px"><td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/envelope.png" title="Email" width="16"> <%= @place.general_email %></p></td></tr><% end %>
                <tr style="border-top:#ccc solid 1px"><td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/phone-call.png" title="Email" width="16"> +65  <%= @place.general_contact_number %></p></td></tr>
                <% unless @place.website.blank? %><tr style="border-top:#ccc solid 1px">
                  <td><p><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2016/12/house.png" title="Monitor" width="16"> <%= link_to @place.website, "#{@place.website}" %></p></td></tr><% end %>
                <tr style="border-top:#ccc solid 1px"><td><p>Social sites: <% unless @place.facebook.blank? %><%= link_to @place.facebook do %><i class="fa fa-facebook-official"></i><% end %><% end %>
                <% unless @place.instagram.blank? %><%= link_to @place.instagram do %><i class="fa fa-instagram"></i><% end %><% end %></p></td>
                </tr>
              </thead>
            </table>
          </div>
          <% unless @place.friends_rewards_terms.blank? %>
          <div class="container-fluid" style="background: white; padding:10px; border:1px solid #ccc;">
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div class="avatar"><center><%= image_tag @place.friends_reward.icon.url(:medium), :class => "img-circle img_responsive" %></center></div>
              <center>
                <a href="http://www.halalfoodhunt.com/friends" class="btn btn-raised btn-primary" role="button">Be a FRIEND</a>
              </center>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9">
              <h4 class="form-subtitle" style="color:#044E2E">Friends Card Holders Only</h4>
              <p><%= @place.friends_rewards_terms %></p>
            </div>
          </div>
          <% end %>
          <div class="container-fluid">
            <h4 class="title" style="color:#D04E2E;">FAQ</h4>
            <h5 class="question">Do you have a theme for your restaurant? What type of dishes do you serve, and which are the highly recommended ones? What is the price range of the main items on your menu?</h5>
            <p><%= h(@place.question_1).gsub(/\n/, '<br>').html_safe %></p>
            <h5 class="question">What is the easiest way to get to your place by public transport?</h5>
            <p><%= h(@place.question_2).gsub(/\n/, '<br>').html_safe %></p>
            <h5 class="question">Where is the nearest and easiest parking spot near your place?</h5>
            <p><%= h(@place.question_3).gsub(/\n/, '<br>').html_safe %></p>
            <h5 class="question">Do you have a prayer space for me? If not, where is the nearest mosque or place that I can perform my prayers at?</h5>
            <p><%= h(@place.question_4).gsub(/\n/, '<br>').html_safe %></p>
            <h5 class="question">How baby/child/family-friendly?</h5>
            <p><%= h(@place.question_5).gsub(/\n/, '<br>').html_safe %></p>
            <h5 class="question">Please provide me with links to reviews about you.</h5>
            <p><%= h(@place.question_6).gsub(/\n/, '<br>').html_safe %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="container-fluid" style="border:#ccc solid 1px; padding-bottom:15px; margin-bottom:25px;">
          <h4 class="title">Opening Hours</h4>
          <% @place.opening_hours.each do |time| %>
          <div class="col-xs-12 col-sm-6 col-md-5">
            <%= time.day.name %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-1">
            <%= time.open_or_close.name %>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <%= time.opening.strftime("%I:%M %p") %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= time.closing.strftime("%I:%M %p") %>
          </div>
          <% end %>
        </div>
        <p><% unless @place.delivery_link.blank? %><%= link_to "Order NOW!", raw(@place.delivery_link), :class => "btn btn-block btn-raised btn-primary", :style => 'color:#fff;' %>
          <% end %>
        </p>
        <p><% unless @place.reservation_link.blank? %><%= link_to "Reserve NOW!", raw(@place.reservation_link), :class => "btn btn-block btn-raised btn-danger", :style => 'color:#fff;' %>
          <% end %>
        </p>
        <div class="row">
          <div class="col-xs-6">
            <%= image_tag @place.image.url(:square), :class => "img-thumbnail" %><br><br>
            <%= image_tag @place.image_2.url(:square), :class => "img-thumbnail" %>
          </div>
          <div class="col-xs-6">
           <%= image_tag @place.image_3.url(:square), :class => "img-thumbnail" %><br><br>
           <%= image_tag @place.image_4.url(:square), :class => "img-thumbnail" %>
         </div>
       </div>
       <br>
       <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
        <h4 class="title">Highlights</h4>
        <% @place.highlights.each do |highlight| %>
        <div class="col-xs-6 col-md-6" style="padding:0;"><p><%= image_tag highlight.icon.url(:thumb) %> <%= highlight.name %></p></div>
        <% end %>
      </div>
      <br>
      <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
        <h4 class="title">Dining Types</h4>
        <% @place.dining_types.each do |dining_type| %>
        <div class="col-xs-6 col-md-6" style="padding:0;"><p><%= image_tag dining_type.icon.url(:thumb) %> <%= dining_type.name %></p></div>
        <% end %>
      </div>
      <br>
      <div class="container-fluid" style="border:#c2a476 solid 1px; background: white;">
        <h4 class="title">Cuisine Types</h4>
        <% @place.cuisine_types.each do |cuisine_type| %>
        <div class="col-xs-6 col-md-6" style="padding:0;"><p><%= image_tag cuisine_type.icon.url(:thumb) %> <%= cuisine_type.name %></p></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDps1UVNSRCldU_6BMPoJ09xuoHjvrqEGU&callback=initMap"
async defer></script>