<nav class="navbar navbar-default navbar-fixed-top" style="border-color:transparent; border-width:0;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Halalfoodhunt.com", root_path, class: 'navbar-brand' %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.friends.halalfoodhunt.com">Get FRIENDS Card</a></li>
        <li><%= link_to "Get rewarded", pages_friends_rewards_path %></li>
        <% if current_merchant.try(:admin?) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <strong><%= current_merchant.contact_person_name %></strong>!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Admin Dashboard', pages_categories_path %> </li>
            <li><%= link_to 'Logout', destroy_merchant_session_path, method: :delete %></li>
          </ul>
        </li>
        <% elsif current_merchant.try(:free?) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <strong><%= current_merchant.contact_person_name %></strong>!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Logout', destroy_merchant_session_path, method: :delete %></li>
          </ul>
        </li>
        <% elsif current_merchant.try(:basic?) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <strong><%= current_merchant.contact_person_name %></strong>!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Merchant Dashboard', listings_path %></li>
            <li><%= link_to 'Logout', destroy_merchant_session_path, method: :delete %></li>
          </ul>
        </li>
        <% elsif current_merchant.try(:basic_plus?) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <strong><%= current_merchant.contact_person_name %></strong>!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Merchant Dashboard', listings_path %></li>
            <li><%= link_to 'Logout', destroy_merchant_session_path, method: :delete %></li>
          </ul>
        </li>
        <% elsif current_merchant.try(:pair?) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <strong><%= current_merchant.contact_person_name %></strong>!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Merchant Dashboard', listings_path %></li>
            <li><%= link_to 'Logout', destroy_merchant_session_path, method: :delete %></li>
          </ul>
        </li>
        <% elsif current_merchant.try(:bundle?) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <strong><%= current_merchant.contact_person_name %></strong>!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Merchant Dashboard', listings_path %></li>
            <li><%= link_to 'Logout', destroy_merchant_session_path, method: :delete %></li>
          </ul>
        </li>
        <% elsif current_merchant.try(:custom?) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <strong><%= current_merchant.contact_person_name %></strong>!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Merchant Dashboard', listings_path %></li>
            <li><%= link_to 'Logout', destroy_merchant_session_path, method: :delete %></li>
          </ul>
        </li>
        <% elsif current_friend %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <strong><%= current_friend.name %></strong>!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Profile', edit_friend_registration_path %></li>
            <li><%= link_to 'Logout', destroy_friend_session_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Terms of Use", pages_terms_of_use_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Merchant Login',  new_merchant_session_path %></li>
            <li><%= link_to 'FRIENDS Login',  new_friend_session_path %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
$(document).ready(function(){
      $(window).scroll(function() { // check if scroll event happened
        if ($(document).scrollTop() > 50) { // check if user scrolled more than 50 from top of the browser window
          $(".navbar-fixed-top").css("background-color", "#22211d"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
        } else {
          $(".navbar-fixed-top").css("background-color", "transparent"); // if not, change it back to transparent
        }
      });
    });
</script>