<br>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'PLACES', places_path %></li>
        <li><%= link_to 'HOMIES', ecommers_path %></li>
        <li><%= link_to 'CATERERS', caterers_path %></li>
        <li><%= link_to 'FOOD DELIVERIES', food_deliveries_path %></li>
        <li><%= link_to 'SUPERMARKETS', supermarkets_path %></li>
        <li><%= link_to 'LESSONS', lessons_path %></li>
        <li><%= link_to 'ONLINE GROCERS', online_grocers_path %></li>
        <li><%= link_to 'SUPPLIERS', suppliers_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>